Repository sjerzykiewicz/NoName-Surveys: changes, and which pre-commit hooks are due for each by the changed paths.
All: codespell, isort, pyupgrade, yesqa, black, ruff, prettier, lint

codespell:
  name: codespell
  entry: bash -c 'cd backend && make codespell'
  language: system

isort:
  name: isort
  entry: bash -c 'cd backend && make isort'
  language: system

pyupgrade:
  name: pyupgrade
  entry: bash -c 'cd backend && make pyupgrade'
  language: system

yesqa:
  name: yesqa
  entry: bash -c 'cd backend && make yesqa'
  language: system

black:
  name: black
  entry: bash -c 'cd backend && make black'
  language: system

ruff:
  name: ruff
  entry: bash -c 'cd backend && make ruff'
  language: system

prettier:
  name: prettier
  entry: npm run format
  args:
  - --prefix
  - frontend
  language: system
  pass_filenames: false

lint:
  name: lint
  entry: npm run lint
  args:
  - --prefix
  - frontend
  language: system
  pass_filenames: false

NONAME-171 some UI changes
  frontend/src/app.css
  frontend/src/lib/components/account-page/SignIn.svelte
  frontend/src/lib/components/fill-page/SurveyForm.svelte
  frontend/src/lib/components/home-page/SurveyCodeForm.svelte
  frontend/src/routes/+page.server.ts
Due: prettier, lint

NONAME-171 modals now use svelte transitions and clicking outside hides them
  frontend/src/lib/components/Modal.svelte
  frontend/src/lib/components/home-page/SurveyCodeForm.svelte
Due: prettier, lint

NONAME-171 reworked crypto buttons into a modal
  frontend/src/app.css
  frontend/src/lib/components/MultiSelect.svelte
  frontend/src/lib/components/QrCodeModal.svelte
  frontend/src/lib/components/create-page/CryptoButtons.svelte
  frontend/src/lib/components/create-page/CryptoError.svelte
  frontend/src/lib/components/create-page/FooterButtons.svelte
  frontend/src/lib/components/create-page/SelectGroup.svelte
  frontend/src/lib/components/create-page/SelectUsers.svelte
  frontend/src/lib/components/create-page/SurveyForm.svelte
  frontend/src/lib/utils/getRespondentTypeData.ts
  frontend/src/routes/create/+page.svelte
Due: prettier, lint

NONAME-171 fixed error modals
  frontend/src/lib/components/create-page/FooterButtons.svelte
  frontend/src/lib/components/create-page/SurveyForm.svelte
  frontend/src/lib/components/drafts-page/DraftsTable.svelte
  frontend/src/lib/components/fill-page/SurveyForm.svelte
  frontend/src/lib/components/groups-page/GroupButtons.svelte
  frontend/src/lib/components/groups-page/GroupsTable.svelte
  frontend/src/lib/components/groups-page/group/MembersButtons.svelte
  frontend/src/lib/components/summary-page/access/UserButtons.svelte
  frontend/src/lib/components/surveys-page/SurveysTable.svelte
  frontend/src/lib/utils/getErrorMessage.ts
  frontend/src/routes/account/+page.svelte
Due: prettier, lint

NONAME-171 qr code from summary page
  frontend/src/lib/components/summary-page/QrCodeButton.svelte
  frontend/src/lib/components/summary-page/ShareButton.svelte
  frontend/src/routes/[code]/summary/+page.svelte
  frontend/src/routes/[code]/summary/[id]/+page.svelte
  frontend/src/routes/[code]/summary/access/+page.svelte
Due: prettier, lint

NONAME-171 added tooltips to navbar
  frontend/src/lib/components/NavBar.svelte
Due: prettier, lint

NONAME-171 added a tooltip on home page and modified account page
  frontend/src/app.css
  frontend/src/lib/components/account-page/DownloadKey.svelte
  frontend/src/lib/components/account-page/SignIn.svelte
  frontend/src/lib/components/account-page/SignOut.svelte
  frontend/src/lib/components/home-page/SurveyCodeForm.svelte
Due: prettier, lint

NONAME-167 define possible start and end dates for surveys
  backend/src/db/models/survey.py
Due: codespell, isort, pyupgrade, yesqa, black, ruff

NONAME-167 change dates do datetime type
  backend/src/api/models/surveys/survey.py
  backend/src/api/models/surveys/survey_draft.py
  backend/src/db/models/survey.py
Due: codespell, isort, pyupgrade, yesqa, black, ruff

NONAME-167 format date on frontend
  frontend/src/lib/components/drafts-page/DraftsTable.svelte
  frontend/src/lib/components/surveys-page/SurveysTable.svelte
Due: prettier, lint

quick fix
  backend/src/api/models/surveys/survey_draft.py
Due: codespell, isort, pyupgrade, yesqa, black, ruff

NONAME-176 Remove obsolete endpoints
  backend/src/api/routes/users.py
  backend/src/db/crud/user.py
Due: codespell, isort, pyupgrade, yesqa, black, ruff

HotFix date format
  frontend/src/lib/components/drafts-page/DraftsTable.svelte
  frontend/src/lib/components/surveys-page/SurveysTable.svelte
Due: prettier, lint

change placeholder
  frontend/src/lib/components/home-page/SurveyCodeForm.svelte
Due: prettier, lint

update text
  frontend/src/lib/components/account-page/SignIn.svelte
Due: prettier, lint

change text
  frontend/src/lib/components/account-page/SignIn.svelte
Due: prettier, lint

merged
  frontend/src/lib/components/account-page/SignIn.svelte
Due: prettier, lint

added more translations
  frontend/src/lib/components/NavBar.svelte
  frontend/src/lib/components/account-page/SignIn.svelte
  frontend/src/lib/components/home-page/SurveyCodeForm.svelte
  frontend/src/lib/translations.ts
  frontend/src/routes/account/+page.svelte
Due: prettier, lint

NONAME-180 added fingerprint for public key upload
  backend/src/api/models/users/user.py
  backend/src/api/routes/users.py
  backend/src/cryptography/fingerprint.py
  frontend/src/lib/server/database.ts
  frontend/src/routes/account/+page.svelte
  frontend/src/routes/api/users/update-public-key/+server.ts
  frontend/wasm/src/lib.rs
Due: codespell, isort, pyupgrade, yesqa, black, ruff, prettier, lint

NONAME-180 added type signature
  backend/src/cryptography/fingerprint.py
Due: codespell, isort, pyupgrade, yesqa, black, ruff

NONAME-183 made tables navigable with keyboard | remade renaming group into a modal
  frontend/src/app.css
  frontend/src/lib/components/drafts-page/DraftsTable.svelte
  frontend/src/lib/components/groups-page/GroupsTable.svelte
  frontend/src/lib/components/groups-page/NameError.svelte
  frontend/src/lib/components/groups-page/NameTableError.svelte
  frontend/src/lib/components/summary-page/AnswersTable.svelte
  frontend/src/lib/components/summary-page/RespondentsTable.svelte
  frontend/src/lib/components/summary-page/access/AccessTable.svelte
  frontend/src/lib/components/surveys-page/SurveysTable.svelte
Due: prettier, lint

NONAME-183 added delete confirmation modal | added "Enter" functionality to some modals
  frontend/src/app.css
  frontend/src/lib/components/DeleteModal.svelte
  frontend/src/lib/components/ErrorModal.svelte
  frontend/src/lib/components/create-page/SurveyForm.svelte
  frontend/src/lib/components/drafts-page/DraftsTable.svelte
  frontend/src/lib/components/fill-page/SurveyForm.svelte
  frontend/src/lib/components/groups-page/GroupButtons.svelte
  frontend/src/lib/components/groups-page/group/MembersButtons.svelte
  frontend/src/lib/components/summary-page/access/UserButtons.svelte
  frontend/src/lib/components/surveys-page/SurveysTable.svelte
  frontend/src/routes/account/+page.svelte
  frontend/src/routes/groups/+page.svelte
  frontend/src/routes/groups/[group]/+page.svelte
Due: prettier, lint

NONAME-183 added info on home page | added tooltip on create page | added survey not secure warning on fill page | added logo to navbar
  frontend/src/app.css
  frontend/src/lib/components/DeleteModal.svelte
  frontend/src/lib/components/NavBar.svelte
  frontend/src/lib/components/account-page/SignIn.svelte
  frontend/src/lib/components/create-page/AddQuestionButtons.svelte
  frontend/src/lib/components/create-page/SurveyForm.svelte
  frontend/src/lib/components/fill-page/AnswerError.svelte
  frontend/src/lib/components/fill-page/SurveyForm.svelte
  frontend/src/lib/components/groups-page/GroupsTable.svelte
  frontend/src/lib/components/home-page/SurveyCodeForm.svelte
  frontend/src/routes/account/+page.svelte
Due: prettier, lint

NONAME-183 remade file input into a modal
  frontend/src/lib/components/ErrorModal.svelte
  frontend/src/lib/components/Modal.svelte
  frontend/src/lib/components/create-page/SurveyForm.svelte
  frontend/src/lib/components/fill-page/KeysError.svelte
  frontend/src/lib/components/fill-page/SurveyForm.svelte
  frontend/src/lib/entities/FileError.ts
Due: prettier, lint

NONAME-108 make slider precision configurable
  backend/src/api/models/questions/slider_question.py
Due: codespell, isort, pyupgrade, yesqa, black, ruff

NONAME-187 allow for adding users without pub keys to user groups
  backend/src/api/routes/user_groups.py
Due: codespell, isort, pyupgrade, yesqa, black, ruff

NONAME-177 add endpoint for filtering unregistered users
  backend/src/api/routes/users.py
  backend/src/db/crud/user.py
Due: codespell, isort, pyupgrade, yesqa, black, ruff

NONAME-177 importing emails when creating a group works
  frontend/src/app.css
  frontend/src/lib/components/NavBar.svelte
  frontend/src/lib/components/WarningModal.svelte
  frontend/src/lib/components/fill-page/KeysError.svelte
  frontend/src/lib/components/fill-page/SurveyForm.svelte
  frontend/src/lib/components/groups-page/EmailsWarning.svelte
  frontend/src/lib/components/groups-page/GroupButtons.svelte
  frontend/src/lib/server/database.ts
  frontend/src/lib/stores/global.ts
  frontend/src/lib/utils/readFile.ts
  frontend/src/routes/+layout.svelte
  frontend/src/routes/api/users/filter-unregistered-users/+server.ts
  frontend/src/routes/api/users/has-key/+server.ts
  frontend/src/routes/drafts/+page.svelte
  frontend/src/routes/groups/+layout.server.ts
  frontend/src/routes/groups/+page.svelte
Due: prettier, lint

NONAME-177 remade processCrypto function to use readFile util
  frontend/src/lib/components/fill-page/SurveyForm.svelte
Due: prettier, lint

NONAME-177 improved success modal
  frontend/src/lib/components/SuccessModal.svelte
  frontend/src/lib/components/fill-page/SurveyForm.svelte
  frontend/src/lib/stores/global.ts
Due: prettier, lint

NONAME-177 importing emails when creating a survey works
  frontend/src/app.css
  frontend/src/lib/components/EmailsWarning.svelte
  frontend/src/lib/components/ImportEmails.svelte
  frontend/src/lib/components/create-page/SurveyForm.svelte
  frontend/src/lib/components/groups-page/GroupButtons.svelte
  frontend/src/lib/server/database.ts
  frontend/src/routes/api/users/filter-users-with-no-public-key/+server.ts
Due: prettier, lint

NONAME-190 extend user groups logic
  backend/src/api/models/user_groups/user_groups.py
  backend/src/api/routes/user_groups.py
  backend/src/api/routes/users.py
  backend/src/db/crud/user.py
Due: codespell, isort, pyupgrade, yesqa, black, ruff

small fix
  backend/src/api/routes/users.py
Due: codespell, isort, pyupgrade, yesqa, black, ruff

NONAME-177 improved emails processing
  frontend/src/lib/components/ImportEmails.svelte
Due: prettier, lint

NONAME-177 add types
  frontend/src/lib/components/ImportEmails.svelte
Due: prettier, lint

more i18n
  frontend/src/app.css
  frontend/src/lib/components/NavBar.svelte
  frontend/src/lib/components/account-page/SignIn.svelte
  frontend/src/lib/translations.ts
Due: prettier, lint

fixed changing email problem
  frontend/src/hooks.server.ts
  frontend/src/routes/api/oauth/callback/+server.ts
  frontend/src/routes/api/oauth/sign-out/+server.ts
  frontend/src/routes/api/oauth/user/+server.ts
Due: prettier, lint

readme fixed
  README.md
Due: none

NONAME-188 add icons to groups and group members WIP
  frontend/src/lib/components/groups-page/GroupButtons.svelte
  frontend/src/lib/components/groups-page/GroupsTable.svelte
  frontend/src/lib/components/groups-page/group/MembersTable.svelte
  frontend/src/routes/api/users/has-public-key/+server.ts
Due: prettier, lint

Path conditions:
  codespell: any of: ^backend/ and \.py$, \.rst$, \.(md|markdown|mdown)$ and not (.git|.tox)
  isort: any of: ^backend/, but not: .git|.tox
  pyupgrade: any of: ^backend/, but not: .git|.tox
  yesqa: any of: ^backend/, but not: .git|.tox
  black: any of: ^backend/, but not: .git|.tox
  ruff: any of: ^backend/, but not: .git|.tox
  prettier: any of: ^frontend/, but not: .git|.tox
  lint: any of: ^frontend/, but not: .git|.tox
