Repository sjerzykiewicz/NoName-Surveys: changes, and which pre-commit hooks are due for each by the changed paths.
All: codespell, isort, pyupgrade, yesqa, black, ruff, prettier, lint

.pre-commit-config.yaml:

exclude: '.git|.tox'
default_stages: [commit]
fail_fast: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-json
      - id: check-merge-conflict
      - id: check-toml
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: codespell
        name: codespell
        entry: bash -c 'cd backend && make codespell'
        language: system
        types_or: [python, rst, markdown]
        files: ^backend/

      - id: isort
        name: isort
        entry: bash -c 'cd backend && make isort'
        language: system
        files: ^backend/

      - id: pyupgrade
        name: pyupgrade
        entry: bash -c 'cd backend && make pyupgrade'
        language: system
        files: ^backend/

      - id: yesqa
        name: yesqa
        entry: bash -c 'cd backend && make yesqa'
        language: system
        files: ^backend/

      - id: black
        name: black
        entry: bash -c 'cd backend && make black'
        language: system
        files: ^backend/

      - id: ruff
        name: ruff
        entry: bash -c 'cd backend && make ruff'
        language: system
        files: ^backend/

      - id: prettier
        name: prettier
        entry: npm run format
        args: ['--prefix', 'frontend']
        language: system
        files: ^frontend/
        pass_filenames: false

      - id: lint
        name: lint
        entry: npm run lint
        args: ['--prefix', 'frontend']
        language: system
        files: ^frontend/
        pass_filenames: false

      - id: rustfmt
        name: rustfmt
        entry: bash -c 'cd frontend/wasm && cargo fmt'
        language: system
        pass_filenames: false

fixed keys naming
  kube/backend-deployment.yaml
  kube/frontend-deployment.yaml
Due: none

fixed services
  kube/backend-service.yaml
  kube/frontend-service.yaml
Due: none

renamed main dir
  k8s/backend-deployment.yaml
  k8s/backend-service.yaml
  k8s/frontend-deployment.yaml
  k8s/frontend-service.yaml
Due: none

NONAME-201 page buttons WIP | tried to fix problem with deletions | removed useless transitions
  frontend/src/lib/components/create-page/ChoiceError.svelte
  frontend/src/lib/components/create-page/QuestionError.svelte
  frontend/src/lib/components/create-page/TitleError.svelte
  frontend/src/lib/components/fill-page/AnswerError.svelte
  frontend/src/lib/components/global/LimitWarning.svelte
  frontend/src/lib/components/global/PageButtons.svelte
  frontend/src/lib/components/groups-page/GroupsButtons.svelte
  frontend/src/lib/components/groups-page/GroupsTable.svelte
  frontend/src/lib/components/groups-page/MembersError.svelte
  frontend/src/lib/components/groups-page/NameError.svelte
  frontend/src/lib/components/groups-page/group/MembersButtons.svelte
  frontend/src/lib/components/groups-page/group/MembersTable.svelte
  frontend/src/lib/components/summary-page/access/UserButtons.svelte
  frontend/src/lib/components/summary-page/access/UsersError.svelte
  frontend/src/lib/components/summary-page/answer/AnswersTable.svelte
  frontend/src/lib/components/summary-page/buttons/FooterButtons.svelte
  frontend/src/lib/components/surveys-page/SurveysButtons.svelte
  frontend/src/lib/components/surveys-page/SurveysTable.svelte
  frontend/src/lib/server/database.ts
  frontend/src/lib/utils/changePage.ts
  frontend/src/lib/utils/getErrorMessage.ts
  frontend/src/routes/+error.svelte
  frontend/src/routes/drafts/[draftsPage]/+page.svelte
  frontend/src/routes/groups/[groupsPage]/+page.svelte
  frontend/src/routes/surveys/[surveysPage]/+page.svelte
Due: prettier, lint

NONAME-206 improved transitions
  frontend/src/app.css
  frontend/src/lib/components/create-page/Binary.svelte
  frontend/src/lib/components/create-page/ChoiceError.svelte
  frontend/src/lib/components/create-page/List.svelte
  frontend/src/lib/components/create-page/Multi.svelte
  frontend/src/lib/components/create-page/Number.svelte
  frontend/src/lib/components/create-page/QuestionError.svelte
  frontend/src/lib/components/create-page/QuestionTitle.svelte
  frontend/src/lib/components/create-page/Rank.svelte
  frontend/src/lib/components/create-page/Scale.svelte
  frontend/src/lib/components/create-page/Single.svelte
  frontend/src/lib/components/create-page/Slider.svelte
  frontend/src/lib/components/create-page/SurveyForm.svelte
  frontend/src/lib/components/create-page/SurveyTitle.svelte
  frontend/src/lib/components/create-page/Text.svelte
  frontend/src/lib/components/create-page/TitleError.svelte
  frontend/src/lib/components/create-page/preview/BinaryPreview.svelte
  frontend/src/lib/components/create-page/preview/ListPreview.svelte
  frontend/src/lib/components/create-page/preview/MultiPreview.svelte
  frontend/src/lib/components/create-page/preview/NumberPreview.svelte
  frontend/src/lib/components/create-page/preview/QuestionTitlePreview.svelte
  frontend/src/lib/components/create-page/preview/RankPreview.svelte
  frontend/src/lib/components/create-page/preview/ScalePreview.svelte
  frontend/src/lib/components/create-page/preview/SinglePreview.svelte
  frontend/src/lib/components/create-page/preview/SliderPreview.svelte
  frontend/src/lib/components/create-page/preview/SurveyTitlePreview.svelte
  frontend/src/lib/components/create-page/preview/TextPreview.svelte
  frontend/src/lib/components/fill-page/AnswerError.svelte
  frontend/src/lib/components/groups-page/MembersError.svelte
  frontend/src/lib/components/groups-page/NameError.svelte
  frontend/src/lib/components/groups-page/group/MembersButtons.svelte
  frontend/src/lib/components/summary-page/access/UserButtons.svelte
  frontend/src/lib/components/summary-page/access/UsersError.svelte
Due: prettier, lint

NONAME-201 page buttons WIP | removed redundant type annotations
  frontend/src/lib/components/groups-page/group/MembersButtons.svelte
  frontend/src/lib/components/summary-page/access/UserButtons.svelte
  frontend/src/lib/components/summary-page/respondents/RespondentsTable.svelte
  frontend/src/lib/server/database.ts
  frontend/src/routes/create/+page.svelte
  frontend/src/routes/drafts/[draftsPage]/+page.svelte
  frontend/src/routes/fill/+page.svelte
  frontend/src/routes/groups/[groupsPage]/+page.svelte
  frontend/src/routes/groups/[groupsPage]/[group]/[groupPage]/+page.server.ts
  frontend/src/routes/groups/[groupsPage]/[group]/[groupPage]/+page.svelte
  frontend/src/routes/surveys/[surveysPage]/+page.svelte
  frontend/src/routes/surveys/[surveysPage]/[code]/+layout.server.ts
  frontend/src/routes/surveys/[surveysPage]/[code]/+page.svelte
  frontend/src/routes/surveys/[surveysPage]/[code]/access/[accessPage]/+page.server.ts
  frontend/src/routes/surveys/[surveysPage]/[code]/access/[accessPage]/+page.svelte
  frontend/src/routes/surveys/[surveysPage]/[code]/answers/+page.svelte
  frontend/src/routes/surveys/[surveysPage]/[code]/answers/[answer]/+page.svelte
  frontend/src/routes/surveys/[surveysPage]/[code]/respondents/[respondentsPage]/+page.server.ts
  frontend/src/routes/surveys/[surveysPage]/[code]/respondents/[respondentsPage]/+page.svelte
Due: prettier, lint

NONAME-201 changed some icons on create page
  frontend/src/app.css
  frontend/src/lib/components/create-page/List.svelte
  frontend/src/lib/components/create-page/Multi.svelte
  frontend/src/lib/components/create-page/QuestionTitle.svelte
  frontend/src/lib/components/create-page/Rank.svelte
  frontend/src/lib/components/create-page/Single.svelte
  frontend/src/lib/components/create-page/preview/ListPreview.svelte
  frontend/src/lib/components/create-page/preview/RankPreview.svelte
  frontend/src/lib/components/fill-page/Rank.svelte
Due: prettier, lint

changed pullPolicy
  k8s/backend-deployment.yaml
  k8s/frontend-deployment.yaml
Due: none

added whole pipeline to test, build and deploy
  .github/workflows/ci-cd-pipeline.yaml
  .github/workflows/dockerize-dev.yaml
  .github/workflows/dockerize-main.yaml
  .github/workflows/playwright.yml
Due: none

removed obligatory manual for deploy
  .github/workflows/ci-cd-pipeline.yaml
Due: none

change ssh port to 443
  .github/workflows/ci-cd-pipeline.yaml
Due: none

fixed if statement
  .github/workflows/ci-cd-pipeline.yaml
Due: none

docker images naming fix
  .github/workflows/ci-cd-pipeline.yaml
Due: none

NONAME-207 small fix
  frontend/src/routes/+error.svelte
Due: prettier, lint

NONAME-201 page buttons WIP | improved back button
  frontend/src/lib/components/global/Back.svelte
  frontend/src/lib/components/global/PageButtons.svelte
  frontend/src/lib/components/summary-page/TextSummary.svelte
  frontend/src/lib/components/summary-page/answer/AnswersTable.svelte
  frontend/src/lib/components/summary-page/buttons/AnswersButton.svelte
  frontend/src/lib/components/summary-page/buttons/FooterButtons.svelte
  frontend/src/lib/components/summary-page/buttons/RespondentsButton.svelte
  frontend/src/lib/components/summary-page/buttons/ShareButton.svelte
  frontend/src/lib/components/summary-page/respondents/RespondentsTable.svelte
  frontend/src/routes/groups/[groupsPage]/[group]/[groupPage]/+page.svelte
  frontend/src/routes/surveys/[surveysPage]/[code]/+page.svelte
  frontend/src/routes/surveys/[surveysPage]/[code]/access/[accessPage]/+page.svelte
  frontend/src/routes/surveys/[surveysPage]/[code]/answers/[answersPage]/+page.svelte
  frontend/src/routes/surveys/[surveysPage]/[code]/answers/[answersPage]/[answer]/+page.svelte
  frontend/src/routes/surveys/[surveysPage]/[code]/respondents/[respondentsPage]/+page.svelte
Due: prettier, lint

NONAME-201 small fix
  frontend/src/app.css
  frontend/src/lib/components/global/ErrorModal.svelte
  frontend/src/lib/components/global/PageButtons.svelte
  frontend/src/lib/components/global/WarningModal.svelte
  frontend/src/lib/components/groups-page/GroupsTable.svelte
  frontend/src/lib/components/groups-page/group/MembersTable.svelte
Due: prettier, lint

NONAME-201 another small fix
  frontend/src/app.css
  frontend/src/lib/components/global/PageButtons.svelte
  frontend/src/routes/+error.svelte
Due: prettier, lint

NONAME-201 removed some redundant code
  frontend/src/app.css
  frontend/src/lib/components/create-page/Binary.svelte
  frontend/src/lib/components/create-page/List.svelte
  frontend/src/lib/components/create-page/Multi.svelte
  frontend/src/lib/components/create-page/QuestionTitle.svelte
  frontend/src/lib/components/create-page/Rank.svelte
  frontend/src/lib/components/create-page/Single.svelte
  frontend/src/lib/components/create-page/SurveyTitle.svelte
  frontend/src/lib/components/create-page/Text.svelte
  frontend/src/lib/components/create-page/preview/TextPreview.svelte
  frontend/src/lib/components/fill-page/Text.svelte
  frontend/src/lib/components/groups-page/GroupsButtons.svelte
  frontend/src/lib/components/groups-page/GroupsTable.svelte
Due: prettier, lint

changed few lines
  backend/poetry.lock
  backend/src/api/models/users/user.py
  backend/src/api/routes/user_groups.py
  backend/src/db/crud/survey.py
Due: codespell, isort, pyupgrade, yesqa, black, ruff

changed dockerfile to generate poetry lock
  backend/Dockerfile
Due: isort, pyupgrade, yesqa, black, ruff

changed few lines
  backend/src/api/routes/user_groups.py
Due: codespell, isort, pyupgrade, yesqa, black, ruff

NONAME-178 exporting emails is now possible | improved modals
  frontend/src/lib/components/create-page/AddQuestionButtons.svelte
  frontend/src/lib/components/create-page/SurveyForm.svelte
  frontend/src/lib/components/fill-page/SurveyForm.svelte
  frontend/src/lib/components/global/DeleteModal.svelte
  frontend/src/lib/components/global/EmailsWarning.svelte
  frontend/src/lib/components/global/ErrorModal.svelte
  frontend/src/lib/components/global/ImportEmails.svelte
  frontend/src/lib/components/global/Modal.svelte
  frontend/src/lib/components/global/QrCodeModal.svelte
  frontend/src/lib/components/global/SuccessModal.svelte
  frontend/src/lib/components/global/WarningModal.svelte
  frontend/src/lib/components/groups-page/GroupButtons.svelte
  frontend/src/lib/components/groups-page/GroupsTable.svelte
  frontend/src/lib/components/groups-page/NameError.svelte
  frontend/src/lib/utils/downloadFile.ts
  frontend/src/routes/+layout.svelte
  frontend/src/routes/account/+page.svelte
Due: prettier, lint

NONAME-204 first endpoint done
  backend/src/api/models/user_groups/user_groups.py
  backend/src/api/routes/user_groups.py
  backend/src/db/crud/user_groups.py
  backend/tests/api/routes/test_user_groups.py
Due: codespell, isort, pyupgrade, yesqa, black, ruff

added tests
  backend/src/api/routes/user_groups.py
  backend/src/db/base.py
  backend/tests/api/routes/test_user_groups.py
  backend/tests/api/routes/test_users.py
Due: codespell, isort, pyupgrade, yesqa, black, ruff

NONAME-204 finished all endpoints
  backend/src/api/models/surveys/survey.py
  backend/src/api/models/surveys/survey_draft.py
  backend/src/api/routes/survey_drafts.py
  backend/src/api/routes/surveys.py
  backend/src/db/crud/survey.py
  backend/src/db/crud/survey_draft.py
Due: codespell, isort, pyupgrade, yesqa, black, ruff

deleted redundant space
  backend/src/api/models/surveys/survey.py
Due: codespell, isort, pyupgrade, yesqa, black, ruff

NONAME-184 added input labels and improved input fields overall on the Create page
  frontend/src/app.css
  frontend/src/lib/components/create-page/Binary.svelte
  frontend/src/lib/components/create-page/List.svelte
  frontend/src/lib/components/create-page/Multi.svelte
  frontend/src/lib/components/create-page/QuestionTitle.svelte
  frontend/src/lib/components/create-page/Rank.svelte
  frontend/src/lib/components/create-page/Single.svelte
  frontend/src/lib/components/create-page/SurveyTitle.svelte
  frontend/src/lib/components/create-page/Text.svelte
  frontend/src/lib/components/create-page/preview/TextPreview.svelte
  frontend/src/lib/components/fill-page/Text.svelte
  frontend/src/lib/components/global/Input.svelte
  frontend/src/lib/components/groups-page/GroupButtons.svelte
  frontend/src/lib/components/groups-page/GroupsTable.svelte
  frontend/src/lib/components/home-page/SurveyCodeForm.svelte
  frontend/src/lib/components/summary-page/TextSummary.svelte
  frontend/src/lib/components/summary-page/answer/Text.svelte
Due: prettier, lint

NONAME-184 added input labels and set max height to all input fields + some other improvements
  frontend/src/app.css
  frontend/src/lib/components/create-page/AddQuestionButtons.svelte
  frontend/src/lib/components/create-page/Binary.svelte
  frontend/src/lib/components/create-page/List.svelte
  frontend/src/lib/components/create-page/Multi.svelte
  frontend/src/lib/components/create-page/QuestionTitle.svelte
  frontend/src/lib/components/create-page/Rank.svelte
  frontend/src/lib/components/create-page/Single.svelte
  frontend/src/lib/components/create-page/SurveyTitle.svelte
  frontend/src/lib/components/create-page/Text.svelte
  frontend/src/lib/components/create-page/preview/TextPreview.svelte
  frontend/src/lib/components/fill-page/Text.svelte
  frontend/src/lib/components/global/Input.svelte
  frontend/src/lib/components/global/Modal.svelte
  frontend/src/lib/components/groups-page/GroupButtons.svelte
  frontend/src/lib/components/groups-page/GroupsTable.svelte
  frontend/src/lib/components/summary-page/TextSummary.svelte
  frontend/src/lib/components/summary-page/answer/Text.svelte
  frontend/src/lib/stores/global.ts
Due: prettier, lint

NONAME-184 improved UX on mobile
  frontend/src/app.css
  frontend/src/app.html
  frontend/src/lib/components/global/NavBar.svelte
  frontend/src/lib/components/groups-page/group/MembersButtons.svelte
  frontend/static/site.webmanifest
Due: prettier, lint

NONAME-186 fixed warnings from deprecated code
  backend/src/api/models/base.py
  backend/src/api/models/questions/binary_question.py
  backend/src/api/models/questions/list_question.py
  backend/src/api/models/questions/multi_question.py
  backend/src/api/models/questions/number_question.py
  backend/src/api/models/questions/question_base.py
  backend/src/api/models/questions/rank_question.py
  backend/src/api/models/questions/scale_question.py
  backend/src/api/models/questions/single_question.py
  backend/src/api/models/questions/slider_question.py
  backend/src/api/models/questions/text_question.py
  backend/src/api/models/surveys/answer.py
  backend/src/api/models/surveys/survey.py
  backend/src/api/models/surveys/survey_draft.py
  backend/src/api/models/user_groups/user_groups.py
  backend/src/api/models/users/user.py
Due: codespell, isort, pyupgrade, yesqa, black, ruff

NONAME-184 removed unused utils
  frontend/src/lib/utils/handleNewLine.ts
  frontend/src/lib/utils/limitInput.ts
Due: prettier, lint

NONAME-201 corrected passing CSS styles
  frontend/src/lib/components/create-page/SurveyForm.svelte
  frontend/src/lib/components/fill-page/AnswerError.svelte
  frontend/src/lib/components/fill-page/SurveyForm.svelte
  frontend/src/lib/components/global/DeleteModal.svelte
  frontend/src/lib/components/global/EmailsWarning.svelte
  frontend/src/lib/components/global/ErrorModal.svelte
  frontend/src/lib/components/global/ImportEmails.svelte
  frontend/src/lib/components/global/Modal.svelte
  frontend/src/lib/components/global/QrCodeModal.svelte
  frontend/src/lib/components/global/SuccessModal.svelte
  frontend/src/lib/components/global/WarningModal.svelte
  frontend/src/lib/components/groups-page/GroupsButtons.svelte
  frontend/src/lib/components/groups-page/GroupsTable.svelte
  frontend/src/lib/components/groups-page/NameError.svelte
  frontend/src/routes/account/+page.svelte
Due: prettier, lint

NONAME-201 fixed after merging
  frontend/src/app.css
  frontend/src/lib/components/create-page/SurveyForm.svelte
  frontend/src/lib/components/fill-page/SurveyForm.svelte
  frontend/src/lib/components/global/DeleteModal.svelte
  frontend/src/lib/components/global/EmailsWarning.svelte
  frontend/src/lib/components/global/ErrorModal.svelte
  frontend/src/lib/components/global/ImportEmails.svelte
  frontend/src/lib/components/global/Input.svelte
  frontend/src/lib/components/global/Modal.svelte
  frontend/src/lib/components/global/QrCodeModal.svelte
  frontend/src/lib/components/global/SuccessModal.svelte
  frontend/src/lib/components/global/WarningModal.svelte
  frontend/src/lib/components/groups-page/GroupsButtons.svelte
  frontend/src/lib/components/groups-page/GroupsTable.svelte
  frontend/src/lib/components/groups-page/group/MembersButtons.svelte
  frontend/src/lib/components/home-page/SurveyCodeForm.svelte
  frontend/src/lib/components/summary-page/access/UserButtons.svelte
Due: prettier, lint

NONAME-201 adjusted deleting from tables to new endpoints which fixed the issue
  backend/src/api/routes/survey_drafts.py
  backend/src/api/routes/surveys.py
  backend/src/api/routes/user_groups.py
  backend/tests/api/routes/test_user_groups.py
  frontend/src/lib/components/drafts-page/DraftsButtons.svelte
  frontend/src/lib/components/drafts-page/DraftsTable.svelte
  frontend/src/lib/components/groups-page/GroupsButtons.svelte
  frontend/src/lib/components/summary-page/access/UserButtons.svelte
  frontend/src/lib/components/surveys-page/SurveysButtons.svelte
  frontend/src/lib/components/surveys-page/SurveysTable.svelte
  frontend/src/lib/server/database.ts
  frontend/src/routes/api/groups/delete/+server.ts
  frontend/src/routes/api/surveys/delete/+server.ts
  frontend/src/routes/api/surveys/drafts/delete/+server.ts
  frontend/src/routes/api/surveys/give-access/+server.ts
  frontend/src/routes/api/surveys/take-away-access/+server.ts
  frontend/src/routes/drafts/[draftsPage]/+page.svelte
  frontend/src/routes/surveys/[surveysPage]/+layout.server.ts
  frontend/src/routes/surveys/[surveysPage]/+page.svelte
  frontend/src/routes/surveys/[surveysPage]/[code]/+layout.server.ts
  frontend/src/routes/surveys/[surveysPage]/[code]/+page.svelte
  frontend/src/routes/surveys/[surveysPage]/[code]/access/[accessPage]/+page.svelte
  frontend/src/routes/surveys/[surveysPage]/[code]/answers/[answersPage]/+page.svelte
  frontend/src/routes/surveys/[surveysPage]/[code]/answers/[answersPage]/[answer]/+page.svelte
  frontend/src/routes/surveys/[surveysPage]/[code]/respondents/[respondentsPage]/+page.svelte
Due: codespell, isort, pyupgrade, yesqa, black, ruff, prettier, lint

implement descending order in pagination
  backend/src/api/routes/surveys.py
  backend/src/db/crud/survey.py
  backend/src/db/crud/survey_draft.py
Due: codespell, isort, pyupgrade, yesqa, black, ruff

NONAME-201 page automatically goes down if user deletes all entries on page | removed unused icons
  frontend/demo/oauth2.0.md
  frontend/src/app.html
  frontend/src/lib/components/drafts-page/DraftsButtons.svelte
  frontend/src/lib/components/drafts-page/DraftsTable.svelte
  frontend/src/lib/components/fill-page/SurveyForm.svelte
  frontend/src/lib/components/global/PageButtons.svelte
  frontend/src/lib/components/groups-page/GroupsButtons.svelte
  frontend/src/lib/components/groups-page/group/MembersButtons.svelte
  frontend/src/lib/components/summary-page/access/UserButtons.svelte
  frontend/src/lib/components/surveys-page/SurveysButtons.svelte
  frontend/src/lib/components/surveys-page/SurveysTable.svelte
  frontend/src/routes/drafts/[draftsPage]/+page.svelte
  frontend/src/routes/surveys/[surveysPage]/+page.svelte
Due: prettier, lint

NONAME-201 fixed overwriting drafts and input
  frontend/src/lib/components/create-page/Binary.svelte
  frontend/src/lib/components/create-page/SurveyForm.svelte
  frontend/src/lib/components/global/Input.svelte
Due: prettier, lint

added more complex logic in user groups
  backend/src/api/models/user_groups/user_groups.py
  backend/src/api/routes/user_groups.py
  backend/src/db/crud/user_groups.py
  backend/src/db/models/user_group_member.py
  backend/tests/api/routes/test_user_groups.py
  backend/tests/api/routes/test_users.py
  backend/tests/conftest.py
Due: codespell, isort, pyupgrade, yesqa, black, ruff

small fixes
  backend/src/api/models/user_groups/user_groups.py
  backend/src/db/crud/survey.py
Due: codespell, isort, pyupgrade, yesqa, black, ruff
