Repository sjerzykiewicz/NoName-Surveys: changes, and which pre-commit hooks are due for each by the changed paths.
All: codespell, isort, pyupgrade, yesqa, black, ruff, prettier, lint

.pre-commit-config.yaml:

exclude: '.git|.tox'
default_stages: [commit]
fail_fast: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-json
      - id: check-merge-conflict
      - id: check-toml
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: codespell
        name: codespell
        entry: bash -c 'cd backend && make codespell'
        language: system
        types_or: [python, rst, markdown]
        files: ^backend/

      - id: isort
        name: isort
        entry: bash -c 'cd backend && make isort'
        language: system
        files: ^backend/

      - id: pyupgrade
        name: pyupgrade
        entry: bash -c 'cd backend && make pyupgrade'
        language: system
        files: ^backend/

      - id: yesqa
        name: yesqa
        entry: bash -c 'cd backend && make yesqa'
        language: system
        files: ^backend/

      - id: black
        name: black
        entry: bash -c 'cd backend && make black'
        language: system
        files: ^backend/

      - id: ruff
        name: ruff
        entry: bash -c 'cd backend && make ruff'
        language: system
        files: ^backend/

      - id: prettier
        name: prettier
        entry: npm run format
        args: ['--prefix', 'frontend']
        language: system
        files: ^frontend/
        pass_filenames: false

      - id: lint
        name: lint
        entry: npm run lint
        args: ['--prefix', 'frontend']
        language: system
        files: ^frontend/
        pass_filenames: false

      - id: rustfmt
        name: rustfmt
        entry: bash -c 'cd frontend/wasm && cargo fmt'
        language: system
        pass_filenames: false

Update README.md
  README.md
Due: none

moved playwright to main gh actions folder
  .github/workflows/playwright.yml
Due: none

updated wasm
  frontend/package-lock.json
  frontend/package.json
Due: prettier, lint

fixed tests
  .github/workflows/playwright.yml
Due: none

commented out one test
  frontend/tests/rootpage.test.ts
Due: prettier, lint

playwright tests do not autorun on push
  .github/workflows/playwright.yml
Due: none

added backend setup
  .github/workflows/playwright.yml
  frontend/tests/rootpage.test.ts
Due: prettier, lint

fixed working-dir
  .github/workflows/playwright.yml
Due: none

fixed backend port
  .github/workflows/playwright.yml
Due: none

renamed step name
  .github/workflows/playwright.yml
Due: none

NONAME-132 display group size in survey table
  backend/src/api/models/surveys/survey.py
  backend/src/api/routes/surveys.py
  backend/src/db/crud/ring_member.py
  frontend/src/lib/components/surveys-page/SurveysTable.svelte
Due: codespell, isort, pyupgrade, yesqa, black, ruff, prettier, lint

NONAME-154 testing fix
  frontend/src/lib/components/groups-page/AddGroupButtons.svelte
  frontend/src/lib/components/groups-page/GroupsTable.svelte
  frontend/src/lib/utils/urlify.ts
Due: prettier, lint

NONAME-132 display respondent group on summary
  backend/src/api/models/surveys/survey.py
  backend/src/api/routes/surveys.py
  frontend/src/app.css
  frontend/src/lib/components/groups-page/group/UsersTable.svelte
  frontend/src/lib/components/summary-page/RespondentList.svelte
  frontend/src/lib/components/surveys-page/SurveysTable.svelte
  frontend/src/lib/server/database.ts
  frontend/src/routes/[code]/summary/+layout.server.ts
  frontend/src/routes/[code]/summary/+page.svelte
  frontend/src/routes/api/surveys/respondents/+server.ts
  frontend/src/routes/groups/[group]/+page.svelte
Due: codespell, isort, pyupgrade, yesqa, black, ruff, prettier, lint

NONAME-132 small changes
  backend/src/api/models/surveys/survey.py
  backend/src/api/routes/surveys.py
  backend/src/db/crud/ring_member.py
  frontend/src/lib/components/summary-page/RespondentList.svelte
Due: codespell, isort, pyupgrade, yesqa, black, ruff, prettier, lint

NONAME-154 fixed
  frontend/src/lib/components/groups-page/GroupsTable.svelte
  frontend/src/lib/utils/urlify.ts
Due: prettier, lint

NONAME-154 trimmed strings on create page
  frontend/src/lib/components/create-page/ChoiceError.svelte
  frontend/src/lib/components/create-page/FooterButtons.svelte
  frontend/src/lib/components/create-page/QuestionError.svelte
  frontend/src/lib/components/create-page/SurveyForm.svelte
  frontend/src/lib/components/create-page/TitleError.svelte
  frontend/src/lib/components/create-page/preview/BinaryPreview.svelte
  frontend/src/lib/components/create-page/preview/ListPreview.svelte
  frontend/src/lib/components/create-page/preview/MultiPreview.svelte
  frontend/src/lib/components/create-page/preview/QuestionTitlePreview.svelte
  frontend/src/lib/components/create-page/preview/RankPreview.svelte
  frontend/src/lib/components/create-page/preview/SinglePreview.svelte
  frontend/src/lib/components/create-page/preview/SurveyTitlePreview.svelte
  frontend/src/lib/components/create-page/preview/TextPreview.svelte
  frontend/src/lib/utils/trimQuestions.ts
Due: prettier, lint

removed rsa from rust dependencies
  frontend/wasm/Cargo.lock
  frontend/wasm/Cargo.toml
Due: prettier, lint

NONAME-154 trimmed text answer on fill page
  frontend/src/lib/components/fill-page/AnswerError.svelte
  frontend/src/lib/components/fill-page/SurveyForm.svelte
Due: prettier, lint

NONAME-154 small adjustment
  frontend/src/lib/components/create-page/preview/ListPreview.svelte
Due: prettier, lint

NONAME-159 disabled autofocus on mobile devices
  frontend/src/lib/components/create-page/AddQuestionButtons.svelte
  frontend/src/lib/components/create-page/List.svelte
  frontend/src/lib/components/create-page/Multi.svelte
  frontend/src/lib/components/create-page/Rank.svelte
  frontend/src/lib/components/create-page/Single.svelte
  frontend/src/lib/components/create-page/SurveyTitle.svelte
  frontend/src/lib/components/groups-page/AddGroupButtons.svelte
  frontend/src/lib/components/groups-page/GroupsTable.svelte
  frontend/src/lib/components/home-page/SurveyCodeForm.svelte
Due: prettier, lint

NONAME-155 error can be displayed when giving access
  frontend/src/lib/components/summary-page/access/AddUserButtons.svelte
  frontend/src/lib/components/summary-page/access/UsersError.svelte
Due: prettier, lint

NONAME-157 tooltips now look better in light mode
  frontend/src/app.css
Due: prettier, lint

NONAME-137-156 2 new features and a lot of improvements
  backend/src/api/models/questions/number_question.py
  backend/src/api/models/surveys/answer.py
  backend/src/api/models/surveys/survey.py
  backend/src/api/models/user_groups/user_groups.py
  backend/src/api/routes/answers.py
  backend/src/api/routes/survey_drafts.py
  backend/src/api/routes/surveys.py
  backend/src/api/routes/user_groups.py
  backend/src/db/crud/answer.py
  backend/src/db/crud/survey.py
  backend/src/db/crud/user.py
Due: codespell, isort, pyupgrade, yesqa, black, ruff

NONAME-153 made modals modular
  frontend/src/lib/components/Modal.svelte
  frontend/src/lib/components/create-page/FooterButtons.svelte
  frontend/src/lib/components/create-page/SurveyForm.svelte
  frontend/src/lib/components/create-page/SurveyTitle.svelte
  frontend/src/lib/stores/create-page.ts
  frontend/src/routes/create/+page.svelte
Due: prettier, lint

NONAME-153 replaced codeview page with a modal
  frontend/src/app.css
  frontend/src/lib/components/Modal.svelte
  frontend/src/lib/components/create-page/FooterButtons.svelte
  frontend/src/lib/components/create-page/SurveyForm.svelte
  frontend/src/lib/components/surveys-page/SurveysTable.svelte
  frontend/src/lib/stores/create-page.ts
  frontend/src/lib/utils/copy.ts
  frontend/src/lib/utils/copyCode.ts
  frontend/src/lib/utils/popup.ts
  frontend/src/routes/[code]/view/+page.server.ts
  frontend/src/routes/[code]/view/+page.svelte
  frontend/src/routes/create/+page.svelte
  frontend/wasm/Cargo.lock
Due: prettier, lint

NONAME-153 replaced qr code tooltip with a modal on surveys page
  frontend/src/app.css
  frontend/src/lib/components/QrCodeModal.svelte
  frontend/src/lib/components/create-page/SurveyForm.svelte
  frontend/src/lib/components/surveys-page/SurveysTable.svelte
Due: prettier, lint

NONAME-153 replaced fill success page with a modal
  frontend/src/lib/components/Modal.svelte
  frontend/src/lib/components/drafts-page/DraftsTable.svelte
  frontend/src/lib/components/fill-page/SurveyForm.svelte
  frontend/src/routes/+page.svelte
  frontend/src/routes/fill/success/+page.svelte
Due: prettier, lint

NONAME-153 modal when generating keys
  frontend/src/app.css
  frontend/src/lib/components/account-page/DownloadKey.svelte
  frontend/src/routes/account/+page.svelte
Due: prettier, lint

NONAME-153 edited sign in page
  frontend/src/app.css
  frontend/src/lib/components/account-page/SignIn.svelte
Due: prettier, lint

tried to add usos
  frontend/src/auth.ts
  frontend/src/lib/components/account-page/SignIn.svelte
Due: prettier, lint

NONAME-154 removing newlines when there are more than 2 in a row
  frontend/src/lib/components/create-page/FooterButtons.svelte
  frontend/src/lib/components/create-page/SurveyForm.svelte
  frontend/src/lib/components/create-page/preview/BinaryPreview.svelte
  frontend/src/lib/components/create-page/preview/ListPreview.svelte
  frontend/src/lib/components/create-page/preview/MultiPreview.svelte
  frontend/src/lib/components/create-page/preview/QuestionTitlePreview.svelte
  frontend/src/lib/components/create-page/preview/RankPreview.svelte
  frontend/src/lib/components/create-page/preview/SinglePreview.svelte
  frontend/src/lib/components/create-page/preview/SurveyTitlePreview.svelte
  frontend/src/lib/components/create-page/preview/TextPreview.svelte
  frontend/src/lib/components/fill-page/SurveyForm.svelte
  frontend/src/lib/components/groups-page/AddGroupButtons.svelte
  frontend/src/lib/components/groups-page/GroupsTable.svelte
  frontend/src/lib/utils/trimQuestions.ts
  frontend/src/routes/create/+page.svelte
Due: prettier, lint

NONAME-153 added consts
  frontend/src/lib/components/NavBar.svelte
  frontend/src/lib/components/QrCodeModal.svelte
  frontend/src/lib/components/account-page/DownloadKey.svelte
  frontend/src/lib/components/create-page/AddQuestionButtons.svelte
  frontend/src/lib/components/create-page/CryptoButtons.svelte
  frontend/src/lib/components/create-page/List.svelte
  frontend/src/lib/components/create-page/Multi.svelte
  frontend/src/lib/components/create-page/Rank.svelte
  frontend/src/lib/components/create-page/Single.svelte
  frontend/src/lib/components/create-page/Slider.svelte
  frontend/src/lib/components/create-page/SurveyTitle.svelte
  frontend/src/lib/components/drafts-page/DraftsTable.svelte
  frontend/src/lib/components/fill-page/SurveyForm.svelte
  frontend/src/lib/components/groups-page/AddGroupButtons.svelte
  frontend/src/lib/components/groups-page/GroupsTable.svelte
  frontend/src/lib/components/home-page/SurveyCodeForm.svelte
  frontend/src/lib/components/summary-page/access/UsersTable.svelte
  frontend/src/lib/components/surveys-page/SurveysTable.svelte
  frontend/src/lib/stores/global.ts
  frontend/src/routes/account/+page.svelte
Due: prettier, lint

NONAME-162 optimized overwriting drafts
  frontend/src/lib/components/create-page/FooterButtons.svelte
  frontend/src/lib/components/create-page/SurveyForm.svelte
Due: prettier, lint

NONAME-162 validate group names
  frontend/src/lib/components/groups-page/AddGroupButtons.svelte
  frontend/src/lib/components/groups-page/GroupsTable.svelte
  frontend/src/lib/components/groups-page/NameError.svelte
  frontend/src/lib/components/groups-page/NameTableError.svelte
  frontend/src/lib/entities/GroupError.ts
Due: prettier, lint

NONAME-162 survey limit on surveys page
  frontend/src/lib/stores/global.ts
  frontend/src/routes/surveys/+page.svelte
Due: prettier, lint

NONAME-162 fix survey limit and alert when creating a survey over limit
  backend/src/api/routes/surveys.py
  backend/src/api/routes/user_groups.py
  frontend/src/lib/components/create-page/FooterButtons.svelte
Due: codespell, isort, pyupgrade, yesqa, black, ruff, prettier, lint

NONAME-162 remade regex to accept unicode characters
  frontend/src/lib/components/groups-page/AddGroupButtons.svelte
  frontend/src/lib/components/groups-page/GroupsTable.svelte
  frontend/src/lib/components/groups-page/NameError.svelte
  frontend/src/lib/components/groups-page/NameTableError.svelte
Due: prettier, lint

NONAME-154 limit number of chars in input fields (WIP)
  frontend/src/app.css
  frontend/src/lib/components/create-page/QuestionTitle.svelte
  frontend/src/lib/components/create-page/SurveyTitle.svelte
  frontend/src/lib/components/create-page/Text.svelte
  frontend/src/lib/stores/global.ts
  frontend/src/lib/utils/limitInput.ts
Due: prettier, lint

NONAME-158 changes in hash functions
  backend/src/cryptography/ring_signature.py
  frontend/wasm/Cargo.lock
  frontend/wasm/Cargo.toml
  frontend/wasm/src/lib.rs
Due: codespell, isort, pyupgrade, yesqa, black, ruff, prettier, lint

NONAME-154 limit number of chars in input fields
  frontend/src/app.css
  frontend/src/lib/components/create-page/Binary.svelte
  frontend/src/lib/components/create-page/List.svelte
  frontend/src/lib/components/create-page/Multi.svelte
  frontend/src/lib/components/create-page/Rank.svelte
  frontend/src/lib/components/create-page/Single.svelte
  frontend/src/lib/components/create-page/preview/TextPreview.svelte
  frontend/src/lib/components/fill-page/Text.svelte
  frontend/src/lib/components/groups-page/AddGroupButtons.svelte
  frontend/src/lib/components/groups-page/GroupsTable.svelte
Due: prettier, lint
