Repository sjerzykiewicz/NoName-Surveys: changes, and which pre-commit hooks are due for each by the changed paths.
All: codespell, isort, pyupgrade, yesqa, black, ruff, prettier, lint

codespell:
  name: codespell
  entry: bash -c 'cd backend && make codespell'
  language: system

isort:
  name: isort
  entry: bash -c 'cd backend && make isort'
  language: system

pyupgrade:
  name: pyupgrade
  entry: bash -c 'cd backend && make pyupgrade'
  language: system

yesqa:
  name: yesqa
  entry: bash -c 'cd backend && make yesqa'
  language: system

black:
  name: black
  entry: bash -c 'cd backend && make black'
  language: system

ruff:
  name: ruff
  entry: bash -c 'cd backend && make ruff'
  language: system

prettier:
  name: prettier
  entry: npm run format
  args:
  - --prefix
  - frontend
  language: system
  pass_filenames: false

lint:
  name: lint
  entry: npm run lint
  args:
  - --prefix
  - frontend
  language: system
  pass_filenames: false

corrected dots
  frontend/src/lib/translations.ts
Due: prettier, lint

NONAME-247 requested changes
  frontend/src/lib/components/account-page/DownloadKey.svelte
  frontend/src/lib/components/fill-page/PassphraseError.svelte
  frontend/src/lib/components/fill-page/SurveyForm.svelte
  frontend/src/lib/entities/PassphraseErrorEnum.ts
  frontend/src/lib/translations.ts
Due: prettier, lint

now dev deploys app too
  .github/workflows/ci-cd-pipeline.yaml
Due: none

NONAME-239 added high contrast modes for light and dark themes
  frontend/src/app.css
  frontend/src/app.html
  frontend/src/lib/components/account-page/AccountButtons.svelte
  frontend/src/lib/components/global/NavBar.svelte
  frontend/src/lib/components/global/NavButtons.svelte
  frontend/src/lib/components/home-page/SurveyCodeForm.svelte
  frontend/src/lib/stores/global.ts
  frontend/src/lib/translations.ts
  frontend/src/lib/utils/setContrast.ts
  frontend/src/lib/utils/setScheme.ts
  frontend/src/lib/utils/toggleContrast.ts
  frontend/src/lib/utils/toggleScheme.ts
  frontend/src/routes/+layout.svelte
Due: prettier, lint

NONAME-239 added slight color variations
  frontend/src/app.css
Due: prettier, lint

NONAME-248 added magic number to identify key file
  frontend/src/lib/components/account-page/DownloadKey.svelte
  frontend/src/lib/components/fill-page/KeysError.svelte
  frontend/src/lib/components/fill-page/SurveyForm.svelte
  frontend/src/lib/entities/MagicNumber.ts
  frontend/src/lib/translations.ts
Due: prettier, lint

NONAME-240 added QR code on account page and some adjustments
  frontend/src/app.css
  frontend/src/lib/components/account-page/AccountButtons.svelte
  frontend/src/lib/components/account-page/DownloadKey.svelte
  frontend/src/lib/components/account-page/QrCodeModal.svelte
  frontend/src/lib/components/account-page/SignIn.svelte
  frontend/src/lib/components/account-page/SignOut.svelte
  frontend/src/lib/components/global/QrCode.svelte
  frontend/src/lib/translations.ts
  frontend/src/routes/account/+page.svelte
  frontend/src/routes/fill/+page.svelte
Due: prettier, lint

NONAME-240 small change to logo placement
  frontend/src/lib/components/global/NavBar.svelte
Due: prettier, lint

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

NONAME-242 surveys can now be created from the drafts page + some visual changes
  frontend/src/app.css
  frontend/src/lib/components/create-page/FooterButtons.svelte
  frontend/src/lib/components/create-page/RespondentModal.svelte
  frontend/src/lib/components/create-page/SurveyForm.svelte
  frontend/src/lib/components/create-page/preview/SliderPreview.svelte
  frontend/src/lib/components/drafts-page/DraftsButtons.svelte
  frontend/src/lib/components/drafts-page/DraftsTable.svelte
  frontend/src/lib/components/fill-page/Slider.svelte
  frontend/src/lib/components/global/EmailsWarning.svelte
  frontend/src/lib/components/global/ImportEmails.svelte
  frontend/src/lib/components/groups-page/GroupsTable.svelte
  frontend/src/lib/components/surveys-page/SurveysButtons.svelte
  frontend/src/lib/components/surveys-page/SurveysTable.svelte
  frontend/src/lib/translations.ts
  frontend/src/routes/drafts/[draftsPage]/+page.server.ts
  frontend/src/routes/drafts/[draftsPage]/+page.svelte
Due: prettier, lint

NONAME-242 made it harder to close a modal by accident
  frontend/src/lib/components/global/Modal.svelte
Due: prettier, lint

NONAME-242 changed how some errors are displayed
  frontend/src/lib/components/account-page/ConfirmError.svelte
  frontend/src/lib/components/account-page/DownloadKey.svelte
  frontend/src/lib/components/account-page/PassphraseError.svelte
  frontend/src/lib/components/create-page/ChoiceError.svelte
  frontend/src/lib/components/create-page/CryptoError.svelte
  frontend/src/lib/components/create-page/QuestionError.svelte
  frontend/src/lib/components/create-page/TitleError.svelte
  frontend/src/lib/components/fill-page/AccessError.svelte
  frontend/src/lib/components/fill-page/AnswerError.svelte
  frontend/src/lib/components/fill-page/KeysError.svelte
  frontend/src/lib/components/fill-page/PassphraseError.svelte
  frontend/src/lib/components/fill-page/SurveyForm.svelte
  frontend/src/lib/components/groups-page/NameError.svelte
  frontend/src/lib/components/summary-page/access/UsersError.svelte
  frontend/src/lib/components/surveys-page/ImportError.svelte
  frontend/src/lib/translations.ts
  frontend/src/lib/utils/readFile.ts
Due: prettier, lint

added stylelint
  .pre-commit-config.yaml
  frontend/.stylelintrc.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app.css
Due: prettier, lint

Update feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

NONAME-208 reduced boilerplate code
  backend/src/api/routes/answers.py
  backend/src/api/routes/survey_drafts.py
  backend/src/api/routes/surveys.py
  backend/src/api/routes/user_groups.py
  backend/src/api/routes/users.py
  backend/src/api/utils/__init__.py
  backend/src/api/utils/helpers.py
  backend/src/db/crud/ring_member.py
  backend/src/db/crud/survey.py
  backend/src/db/crud/user_groups.py
  backend/tests/api/routes/test_survey_drafts.py
  backend/tests/api/utils/test_helpers.py
Due: codespell, isort, pyupgrade, yesqa, black, ruff

applied fixes
  backend/src/db/crud/user_groups.py
Due: codespell, isort, pyupgrade, yesqa, black, ruff

Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Due: none

Create CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Create SECURITY.md
  SECURITY.md
Due: none

Create pull_request_template.md
  .github/pull_request_template.md
Due: none

NONAME-253: Allow for adding subtitles to surveys
  backend/src/api/models/metadata/subtitle.py
  backend/src/api/models/surveys/answer.py
  backend/src/api/models/surveys/survey.py
  backend/tests/api/routes/test_answers.py
  backend/tests/api/routes/test_surveys.py
Due: codespell, isort, pyupgrade, yesqa, black, ruff

NONAME-253: Add a test case
  backend/tests/api/routes/test_answers.py
Due: codespell, isort, pyupgrade, yesqa, black, ruff

NONAME-252 small improvements to key generation process
  frontend/src/lib/components/account-page/DownloadKey.svelte
  frontend/wasm/src/lib.rs
Due: prettier, lint

NONAME-252 additional key check on backend
  backend/src/api/models/base.py
  backend/src/api/models/users/user.py
  backend/src/cryptography/parameters.py
  backend/src/cryptography/ring_signature.py
  backend/tests/api/routes/test_users.py
Due: codespell, isort, pyupgrade, yesqa, black, ruff

fix rust code
  frontend/wasm/src/lib.rs
Due: prettier, lint

NONAME-252 added requested changes
  backend/src/api/models/base.py
  backend/src/api/models/users/user.py
  backend/src/cryptography/verify_key.py
  backend/tests/api/models/test_base.py
  backend/tests/api/routes/test_users.py
  backend/tests/common_values.py
Due: codespell, isort, pyupgrade, yesqa, black, ruff

NONAME-252 added tests to new function
  backend/tests/cryptography/test_verify_key.py
Due: codespell, isort, pyupgrade, yesqa, black, ruff

NONAME-254 now certain buttons cannot be clicked rapidly
  frontend/src/lib/components/account-page/DownloadKey.svelte
  frontend/src/lib/components/account-page/QrCodeModal.svelte
  frontend/src/lib/components/account-page/SignIn.svelte
  frontend/src/lib/components/account-page/SignOut.svelte
  frontend/src/lib/components/create-page/RespondentModal.svelte
  frontend/src/lib/components/create-page/SurveyForm.svelte
  frontend/src/lib/components/fill-page/SurveyForm.svelte
  frontend/src/lib/components/global/DeleteModal.svelte
  frontend/src/lib/components/global/ErrorModal.svelte
  frontend/src/lib/components/global/ImportSummaryModal.svelte
  frontend/src/lib/components/global/Modal.svelte
  frontend/src/lib/components/global/NavButtons.svelte
  frontend/src/lib/components/global/NavLinks.svelte
  frontend/src/lib/components/global/QrCodeModal.svelte
  frontend/src/lib/components/global/SuccessModal.svelte
  frontend/src/lib/components/global/WarningModal.svelte
  frontend/src/lib/components/groups-page/GroupsButtons.svelte
  frontend/src/lib/components/groups-page/GroupsTable.svelte
  frontend/src/lib/components/groups-page/group/MembersButtons.svelte
  frontend/src/lib/components/summary-page/access/UserButtons.svelte
  frontend/src/lib/components/summary-page/access/UsersError.svelte
  frontend/src/lib/components/surveys-page/SurveysButtons.svelte
  frontend/src/routes/fill/+page.svelte
Due: prettier, lint

improved tests
  backend/tests/api/routes/test_answers.py
  backend/tests/api/routes/test_surveys.py
  backend/tests/common_values.py
Due: codespell, isort, pyupgrade, yesqa, black, ruff

NONAME-234: Start creating new README
  README.md
Due: none

NONAME-255 increase number of iterations and change hash function
  frontend/src/lib/utils/keyFromMaterial.ts
Due: prettier, lint

NONAME-251 fixed the cookies issue
  frontend/src/routes/+page.server.ts
  frontend/src/routes/account/+page.server.ts
  frontend/src/routes/api/users/has-public-key/+server.ts
  frontend/src/routes/create/+page.server.ts
  frontend/src/routes/drafts/[draftsPage]/+page.server.ts
  frontend/src/routes/fill/+page.server.ts
  frontend/src/routes/groups/[groupsPage]/+layout.server.ts
  frontend/src/routes/groups/[groupsPage]/[group]/[groupPage]/+page.server.ts
  frontend/src/routes/surveys/[surveysPage]/+layout.server.ts
  frontend/src/routes/surveys/[surveysPage]/[code]/+layout.server.ts
  frontend/src/routes/surveys/[surveysPage]/[code]/access/[accessPage]/+page.server.ts
  frontend/src/routes/surveys/[surveysPage]/[code]/respondents/[respondentsPage]/+page.server.ts
Due: prettier, lint

added generated api docs
  backend/api_documentation.md
Due: codespell, isort, pyupgrade, yesqa, black, ruff

Update SECURITY.md
  SECURITY.md
Due: none

remade reamde a bit
  README.md
  package-lock.json
Due: none

NONAME-256: Allow for enabling and disabling a survey
  backend/src/api/models/surveys/survey.py
  backend/src/api/routes/answers.py
  backend/src/api/routes/surveys.py
  backend/src/api/utils/helpers.py
  backend/src/db/crud/survey.py
  backend/src/db/models/survey.py
  backend/tests/api/routes/test_surveys.py
Due: codespell, isort, pyupgrade, yesqa, black, ruff

introduce better tests
  backend/tests/api/routes/test_answers.py
  backend/tests/api/routes/test_surveys.py
  backend/tests/common_values.py
Due: codespell, isort, pyupgrade, yesqa, black, ruff

remove unrelated test changes
  backend/tests/api/routes/test_answers.py
  backend/tests/api/routes/test_surveys.py
  backend/tests/common_values.py
Due: codespell, isort, pyupgrade, yesqa, black, ruff

small fix
  backend/tests/api/routes/test_answers.py
Due: codespell, isort, pyupgrade, yesqa, black, ruff

Path conditions:
  codespell: any of: ^backend/ and \.py$, \.rst$, \.(md|markdown|mdown)$ and not (.git|.tox)
  isort: any of: ^backend/, but not: .git|.tox
  pyupgrade: any of: ^backend/, but not: .git|.tox
  yesqa: any of: ^backend/, but not: .git|.tox
  black: any of: ^backend/, but not: .git|.tox
  ruff: any of: ^backend/, but not: .git|.tox
  prettier: any of: ^frontend/, but not: .git|.tox
  lint: any of: ^frontend/, but not: .git|.tox
