Repository sjerzykiewicz/NoName-Surveys: changes, and which pre-commit hooks are due for each by the changed paths.
All: codespell, isort, pyupgrade, yesqa, black, ruff, prettier, lint

codespell:
  name: codespell
  entry: bash -c 'cd backend && make codespell'
  language: system

isort:
  name: isort
  entry: bash -c 'cd backend && make isort'
  language: system

pyupgrade:
  name: pyupgrade
  entry: bash -c 'cd backend && make pyupgrade'
  language: system

yesqa:
  name: yesqa
  entry: bash -c 'cd backend && make yesqa'
  language: system

black:
  name: black
  entry: bash -c 'cd backend && make black'
  language: system

ruff:
  name: ruff
  entry: bash -c 'cd backend && make ruff'
  language: system

prettier:
  name: prettier
  entry: npm run format
  args:
  - --prefix
  - frontend
  language: system
  pass_filenames: false

lint:
  name: lint
  entry: npm run lint
  args:
  - --prefix
  - frontend
  language: system
  pass_filenames: false

poetry lock now ignored
  backend/Dockerfile
Due: isort, pyupgrade, yesqa, black, ruff

poetry lock not run on every docker build
  .gitignore
  backend/Dockerfile
  backend/poetry.lock
Due: isort, pyupgrade, yesqa, black, ruff

.gitignor restorterd
  .gitignore
Due: none

NONAME-182 key enryption/decryption with password
  frontend/src/lib/components/fill-page/SurveyForm.svelte
  frontend/src/lib/utils/decryptKeys.ts
  frontend/src/lib/utils/encryptKeys.ts
  frontend/src/lib/utils/getKeyMaterial.ts
  frontend/src/lib/utils/keyFromMaterial.ts
  frontend/src/routes/account/+page.svelte
Due: prettier, lint

NONAME-182 no char separators
  frontend/src/lib/components/fill-page/SurveyForm.svelte
  frontend/src/routes/account/+page.svelte
Due: prettier, lint

NONAME-182 corrected algorithm name
  frontend/src/lib/utils/getKeyMaterial.ts
Due: prettier, lint

fix scp port
  .github/workflows/ci-cd-pipeline.yaml
Due: none

fixed one missing authorization
  frontend/src/lib/server/database.ts
Due: prettier, lint

NONAME-182 working key encryption/decryption
  frontend/src/lib/components/fill-page/SurveyForm.svelte
  frontend/src/lib/translations.ts
  frontend/src/lib/utils/encryptKeys.ts
  frontend/src/routes/account/+page.svelte
Due: prettier, lint

rebase dev
  frontend/src/lib/components/fill-page/KeysError.svelte
  frontend/src/lib/components/fill-page/SurveyForm.svelte
  frontend/src/lib/translations.ts
  frontend/src/lib/utils/encryptKeys.ts
  frontend/src/routes/account/+page.svelte
Due: prettier, lint

NONAME-208 Use indexes for often looked up columns
  backend/src/db/models/access_to_view_results.py
  backend/src/db/models/answer.py
  backend/src/db/models/ring_member.py
  backend/src/db/models/survey.py
  backend/src/db/models/survey_draft.py
  backend/src/db/models/user.py
  backend/src/db/models/user_group.py
  backend/src/db/models/user_group_member.py
  backend/tests/api/models/test_base.py
  backend/tests/api/routes/test_users.py
Due: codespell, isort, pyupgrade, yesqa, black, ruff

NONAME-182 frontend and some improvements
  frontend/src/app.css
  frontend/src/lib/components/fill-page/SurveyForm.svelte
  frontend/src/lib/translations.ts
  frontend/src/lib/utils/decryptKeys.ts
  frontend/src/lib/utils/encryptKeys.ts
  frontend/src/lib/utils/getKeyMaterial.ts
  frontend/src/routes/account/+page.svelte
Due: prettier, lint

NONAME-208 Remove not needed Optionals
  backend/src/db/models/user.py
  backend/src/db/models/user_group.py
  backend/src/db/models/user_group_member.py
Due: codespell, isort, pyupgrade, yesqa, black, ruff

Make creation date of pub key optional again
  backend/src/db/models/user.py
Due: codespell, isort, pyupgrade, yesqa, black, ruff

NONAME-160 some modifications and cleanup
  frontend/src/app.css
  frontend/src/lib/components/account-page/DownloadKey.svelte
  frontend/src/lib/components/create-page/Binary.svelte
  frontend/src/lib/components/create-page/Multi.svelte
  frontend/src/lib/components/create-page/Number.svelte
  frontend/src/lib/components/create-page/Scale.svelte
  frontend/src/lib/components/create-page/Single.svelte
  frontend/src/lib/components/create-page/Slider.svelte
  frontend/src/lib/components/create-page/preview/BinaryPreview.svelte
  frontend/src/lib/components/create-page/preview/ListPreview.svelte
  frontend/src/lib/components/create-page/preview/MultiPreview.svelte
  frontend/src/lib/components/create-page/preview/NumberPreview.svelte
  frontend/src/lib/components/create-page/preview/RankPreview.svelte
  frontend/src/lib/components/create-page/preview/ScalePreview.svelte
  frontend/src/lib/components/create-page/preview/SinglePreview.svelte
  frontend/src/lib/components/create-page/preview/SliderPreview.svelte
  frontend/src/lib/components/fill-page/Binary.svelte
  frontend/src/lib/components/fill-page/List.svelte
  frontend/src/lib/components/fill-page/Multi.svelte
  frontend/src/lib/components/fill-page/Number.svelte
  frontend/src/lib/components/fill-page/Rank.svelte
  frontend/src/lib/components/fill-page/Scale.svelte
  frontend/src/lib/components/fill-page/Single.svelte
  frontend/src/lib/components/fill-page/Slider.svelte
  frontend/src/lib/components/global/ImportSummaryModal.svelte
  frontend/src/lib/components/summary-page/AnswersSummary.svelte
  frontend/src/lib/components/summary-page/MultiSummary.svelte
  frontend/src/lib/components/summary-page/NumberSummary.svelte
  frontend/src/lib/components/summary-page/RankSummary.svelte
  frontend/src/lib/components/summary-page/SliderSummary.svelte
  frontend/src/lib/components/surveys-page/SurveysButtons.svelte
  frontend/src/lib/translations.ts
  frontend/src/routes/surveys/[surveysPage]/imported/+page.svelte
Due: prettier, lint

NONAME-208 Standardize SLQModel statements
  backend/src/db/crud/answer.py
  backend/src/db/crud/ring_member.py
  backend/src/db/crud/survey.py
  backend/src/db/crud/survey_draft.py
  backend/src/db/crud/user.py
  backend/src/db/crud/user_groups.py
Due: codespell, isort, pyupgrade, yesqa, black, ruff

small fix
  backend/src/db/crud/survey.py
Due: codespell, isort, pyupgrade, yesqa, black, ruff

NONAME-160 csv example tooltip
  frontend/src/app.css
  frontend/src/lib/components/global/ImportEmails.svelte
  frontend/src/lib/components/global/NavLinks.svelte
  frontend/src/lib/translations.ts
Due: prettier, lint

NONAME-160 survey type info
  frontend/src/app.css
  frontend/src/lib/components/fill-page/SurveyForm.svelte
  frontend/src/lib/translations.ts
Due: prettier, lint

NONAME-160 better passphrase input
  frontend/src/app.css
  frontend/src/lib/components/account-page/DownloadKey.svelte
  frontend/src/lib/components/account-page/PassphraseError.svelte
  frontend/src/lib/components/fill-page/PassphraseError.svelte
  frontend/src/lib/components/fill-page/SurveyForm.svelte
  frontend/src/lib/translations.ts
  frontend/src/routes/account/+page.svelte
Due: prettier, lint

improve public key updates
  backend/src/api/routes/users.py
  backend/src/db/crud/user.py
  backend/tests/api/routes/test_users.py
Due: codespell, isort, pyupgrade, yesqa, black, ruff

NONAME-160 fixed login from tooltip and changed keys format to txt
  frontend/src/lib/components/account-page/DownloadKey.svelte
  frontend/src/lib/components/fill-page/KeysError.svelte
  frontend/src/lib/components/fill-page/SurveyForm.svelte
  frontend/src/lib/components/global/NavButtons.svelte
  frontend/src/lib/components/global/NavLinks.svelte
  frontend/src/lib/components/summary-page/buttons/AnswersButton.svelte
  frontend/src/lib/components/summary-page/buttons/RespondentsButton.svelte
  frontend/src/lib/components/summary-page/buttons/ShareButton.svelte
  frontend/src/lib/components/summary-page/buttons/SummaryButton.svelte
  frontend/src/lib/translations.ts
Due: prettier, lint

NONAME-160 FAQ english version
  frontend/src/lib/components/account-page/FaqItem.svelte
  frontend/src/lib/translations.ts
  frontend/src/routes/account/faq/+page.svelte
Due: prettier, lint

NONAME-160 fixed shadows
  frontend/src/lib/components/account-page/FaqItem.svelte
Due: prettier, lint

NONAME-160 FAQ polish version and improved error page
  frontend/src/app.css
  frontend/src/lib/components/global/ScrollToTop.svelte
  frontend/src/lib/translations.ts
  frontend/src/routes/+error.svelte
Due: prettier, lint

NONAME-235 old method
  frontend/src/lib/components/account-page/DownloadKey.svelte
  frontend/src/routes/api/users/get-key-creation-date/+server.ts
Due: prettier, lint

now deploy only starts on main branch
  .github/workflows/ci-cd-pipeline.yaml
Due: none

NONAME-236 fix null numerics
  frontend/src/lib/entities/questions/Number.ts
  frontend/src/lib/entities/questions/Slider.ts
Due: prettier, lint

now yes/no binary is translated
  frontend/src/lib/components/create-page/AddQuestionButtons.svelte
  frontend/src/lib/translations.ts
Due: prettier, lint

fixed so vuln deps
  frontend/Dockerfile
  frontend/package-lock.json
  frontend/package.json
Due: prettier, lint

NONAME-237 adjusted few UI elements | added new faq | fixed signing in after filling out a survey
  frontend/src/lib/components/account-page/DownloadKey.svelte
  frontend/src/lib/components/create-page/SurveyForm.svelte
  frontend/src/lib/components/fill-page/SurveyForm.svelte
  frontend/src/lib/components/global/ImportEmails.svelte
  frontend/src/lib/components/global/NavButtons.svelte
  frontend/src/lib/translations.ts
  frontend/src/routes/account/+page.svelte
  frontend/src/routes/account/faq/+page.svelte
  frontend/src/routes/api/users/has-public-key/+server.ts
  frontend/src/routes/fill/+page.svelte
Due: prettier, lint

NONAME-238 keys are now stored locally in binary format
  frontend/src/lib/components/account-page/DownloadKey.svelte
  frontend/src/lib/components/fill-page/KeysError.svelte
  frontend/src/lib/components/fill-page/SurveyForm.svelte
  frontend/src/lib/translations.ts
  frontend/src/lib/utils/downloadFile.ts
  frontend/src/lib/utils/readFile.ts
Due: prettier, lint

NONAME-238 separate functions for binary files
  frontend/src/lib/components/account-page/DownloadKey.svelte
  frontend/src/lib/components/fill-page/SurveyForm.svelte
  frontend/src/lib/utils/downloadFile.ts
  frontend/src/lib/utils/readFile.ts
Due: prettier, lint

remove line
  frontend/src/lib/components/fill-page/SurveyForm.svelte
Due: prettier, lint

NONAME-247 added field for password confirmation
  frontend/src/lib/components/account-page/DownloadKey.svelte
  frontend/src/lib/components/account-page/PassphraseError.svelte
  frontend/src/lib/entities/PassphraseErrorEnum.ts
  frontend/src/lib/translations.ts
Due: prettier, lint

corrected dots
  frontend/src/lib/translations.ts
Due: prettier, lint

Path conditions:
  codespell: any of: ^backend/ and \.py$, \.rst$, \.(md|markdown|mdown)$ and not (.git|.tox)
  isort: any of: ^backend/, but not: .git|.tox
  pyupgrade: any of: ^backend/, but not: .git|.tox
  yesqa: any of: ^backend/, but not: .git|.tox
  black: any of: ^backend/, but not: .git|.tox
  ruff: any of: ^backend/, but not: .git|.tox
  prettier: any of: ^frontend/, but not: .git|.tox
  lint: any of: ^frontend/, but not: .git|.tox
