Repository sjerzykiewicz/NoName-Surveys: changes, and which pre-commit hooks are due for each by the changed paths.
All: codespell, isort, pyupgrade, yesqa, black, ruff, prettier, lint

.pre-commit-config.yaml:

exclude: '.git|.tox'
default_stages: [commit]
fail_fast: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-json
      - id: check-merge-conflict
      - id: check-toml
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: codespell
        name: codespell
        entry: bash -c 'cd backend && make codespell'
        language: system
        types_or: [python, rst, markdown]
        files: ^backend/

      - id: isort
        name: isort
        entry: bash -c 'cd backend && make isort'
        language: system
        files: ^backend/

      - id: pyupgrade
        name: pyupgrade
        entry: bash -c 'cd backend && make pyupgrade'
        language: system
        files: ^backend/

      - id: yesqa
        name: yesqa
        entry: bash -c 'cd backend && make yesqa'
        language: system
        files: ^backend/

      - id: black
        name: black
        entry: bash -c 'cd backend && make black'
        language: system
        files: ^backend/

      - id: ruff
        name: ruff
        entry: bash -c 'cd backend && make ruff'
        language: system
        files: ^backend/

      - id: prettier
        name: prettier
        entry: npm run format
        args: ['--prefix', 'frontend']
        language: system
        files: ^frontend/
        pass_filenames: false

      - id: lint
        name: lint
        entry: npm run lint
        args: ['--prefix', 'frontend']
        language: system
        files: ^frontend/
        pass_filenames: false

      - id: rustfmt
        name: rustfmt
        entry: bash -c 'cd frontend/wasm && cargo fmt'
        language: system
        pass_filenames: false

added envs to k8s deployment
  k8s/backend-deployment.yaml
  k8s/frontend-deployment.yaml
Due: none

now deployments files are updated via ci/cd
  .github/workflows/ci-cd-pipeline.yaml
Due: none

NONAME-221 added info about last key update
  backend/src/api/routes/users.py
  backend/src/db/crud/user.py
  backend/src/db/models/user.py
  frontend/src/lib/components/account-page/DownloadKey.svelte
  frontend/src/lib/components/drafts-page/DraftsTable.svelte
  frontend/src/lib/server/database.ts
  frontend/src/lib/translations.ts
  frontend/src/lib/utils/formatDate.ts
  frontend/src/routes/account/+page.server.ts
  frontend/src/routes/account/+page.svelte
  frontend/src/routes/api/users/key-creation-date/+server.ts
Due: codespell, isort, pyupgrade, yesqa, black, ruff, prettier, lint

NONAME-221 added warning after time treshold
  frontend/src/lib/components/account-page/DownloadKey.svelte
  frontend/src/lib/translations.ts
Due: prettier, lint

remove duplicate
  frontend/src/lib/components/account-page/DownloadKey.svelte
Due: prettier, lint

NONAME-169 sign the answer in the cryptographic protocol
  backend/src/api/routes/answers.py
  frontend/src/lib/components/fill-page/SurveyForm.svelte
  frontend/src/lib/entities/questions/Binary.ts
  frontend/src/lib/entities/questions/List.ts
  frontend/src/lib/entities/questions/Multi.ts
  frontend/src/lib/entities/questions/Number.ts
  frontend/src/lib/entities/questions/Question.ts
  frontend/src/lib/entities/questions/Rank.ts
  frontend/src/lib/entities/questions/Scale.ts
  frontend/src/lib/entities/questions/Single.ts
  frontend/src/lib/entities/questions/Slider.ts
  frontend/src/lib/entities/questions/Text.ts
Due: codespell, isort, pyupgrade, yesqa, black, ruff, prettier, lint

NONAME-228 signed in indication WIP
  frontend/src/app.css
  frontend/src/lib/components/account-page/SignIn.svelte
  frontend/src/lib/components/account-page/SignOut.svelte
  frontend/src/lib/components/global/LangButton.svelte
  frontend/src/lib/components/global/NavBar.svelte
  frontend/src/lib/components/global/NavLinks.svelte
  frontend/src/lib/components/global/ThemeButton.svelte
  frontend/src/lib/utils/signOut.ts
  frontend/src/lib/utils/startOAuth.ts
Due: prettier, lint

NONAME-221 added tests for new endpoint
  backend/tests/api/routes/test_users.py
Due: codespell, isort, pyupgrade, yesqa, black, ruff

NONAME-228 signed in indication done
  frontend/src/app.css
  frontend/src/lib/components/create-page/AddQuestionButtons.svelte
  frontend/src/lib/components/global/AccountButtons.svelte
  frontend/src/lib/components/global/LangButton.svelte
  frontend/src/lib/components/global/NavBar.svelte
  frontend/src/lib/components/global/NavLinks.svelte
  frontend/src/lib/components/global/ThemeButton.svelte
  frontend/src/lib/translations.ts
Due: prettier, lint

NONAME-228 fixed responsivity
  frontend/src/lib/components/global/AccountButtons.svelte
  frontend/src/lib/components/global/NavBar.svelte
Due: prettier, lint

NONAME-221 remove unused import
  backend/tests/api/routes/test_users.py
Due: codespell, isort, pyupgrade, yesqa, black, ruff

NONAME-221 improved expiration info style and modified few things
  frontend/src/app.css
  frontend/src/lib/components/account-page/DownloadKey.svelte
  frontend/src/lib/components/create-page/SurveyForm.svelte
  frontend/src/lib/components/drafts-page/DraftsTable.svelte
  frontend/src/lib/components/surveys-page/SurveysTable.svelte
  frontend/src/lib/translations.ts
  frontend/src/lib/utils/formatDate.ts
  frontend/src/routes/account/+page.svelte
  frontend/src/routes/api/users/key-creation-date/+server.ts
Due: prettier, lint

fix logic and add tests
  backend/src/api/models/questions/multi_question.py
  backend/src/api/models/questions/question_base.py
  backend/src/api/models/questions/rank_question.py
  backend/src/api/routes/answers.py
  backend/tests/api/routes/test_answers.py
  backend/tests/api/routes/test_survey_drafts.py
  backend/tests/api/routes/test_surveys.py
  frontend/src/lib/entities/questions/Binary.ts
  frontend/src/lib/entities/questions/List.ts
  frontend/src/lib/entities/questions/Multi.ts
  frontend/src/lib/entities/questions/Rank.ts
  frontend/src/lib/entities/questions/Single.ts
  frontend/src/lib/entities/questions/Text.ts
Due: codespell, isort, pyupgrade, yesqa, black, ruff, prettier, lint

cast answers to strings
  backend/src/api/routes/answers.py
Due: codespell, isort, pyupgrade, yesqa, black, ruff

convert answers to strings properly
  backend/src/api/models/questions/binary_question.py
  backend/src/api/models/questions/list_question.py
  backend/src/api/models/questions/number_question.py
  backend/src/api/models/questions/scale_question.py
  backend/src/api/models/questions/single_question.py
  backend/src/api/models/questions/slider_question.py
  backend/src/api/models/questions/text_question.py
  backend/src/api/routes/answers.py
  frontend/src/lib/entities/questions/Binary.ts
  frontend/src/lib/entities/questions/List.ts
  frontend/src/lib/entities/questions/Multi.ts
  frontend/src/lib/entities/questions/Number.ts
  frontend/src/lib/entities/questions/Rank.ts
  frontend/src/lib/entities/questions/Scale.ts
  frontend/src/lib/entities/questions/Single.ts
  frontend/src/lib/entities/questions/Slider.ts
  frontend/src/lib/entities/questions/Text.ts
Due: codespell, isort, pyupgrade, yesqa, black, ruff, prettier, lint

truncate irrelevant zeroes in float answers
  backend/src/api/models/questions/number_question.py
  backend/src/api/models/questions/slider_question.py
Due: codespell, isort, pyupgrade, yesqa, black, ruff

NONAME-160 some UI changes and a fix
  frontend/src/app.css
  frontend/src/lib/components/account-page/DownloadKey.svelte
  frontend/src/lib/components/create-page/AddQuestionButtons.svelte
  frontend/src/lib/components/create-page/QuestionTypeButton.svelte
  frontend/src/lib/components/create-page/SurveyForm.svelte
  frontend/src/lib/components/fill-page/SurveyForm.svelte
  frontend/src/lib/components/global/Content.svelte
  frontend/src/lib/components/global/Footer.svelte
  frontend/src/lib/components/global/Header.svelte
  frontend/src/lib/components/home-page/SurveyCodeForm.svelte
  frontend/src/lib/components/surveys-page/SurveysButtons.svelte
  frontend/src/lib/translations.ts
  frontend/src/lib/utils/getQuestionTypeData.ts
  frontend/src/routes/+layout.svelte
  frontend/src/routes/account/+page.svelte
Due: prettier, lint

NONAME-229 fixed datediff calculation
  frontend/src/lib/components/account-page/DownloadKey.svelte
  frontend/src/lib/components/fill-page/SurveyForm.svelte
Due: prettier, lint

NONAME-229 changed pydantic version
  backend/pyproject.toml
Due: isort, pyupgrade, yesqa, black, ruff

NONAME-160 some more UI changes
  frontend/src/app.css
  frontend/src/lib/components/create-page/AddQuestionButtons.svelte
  frontend/src/lib/components/create-page/SurveyForm.svelte
  frontend/src/lib/components/global/AccountButtons.svelte
  frontend/src/lib/components/home-page/SurveyCodeForm.svelte
  frontend/src/lib/translations.ts
  frontend/src/routes/+layout.svelte
Due: prettier, lint

NONAME-224 potential fix to .pem files on iOS | importing emails now also splits on commas
  frontend/src/lib/components/global/ImportEmails.svelte
  frontend/src/lib/components/global/WarningModal.svelte
  frontend/src/lib/utils/downloadFile.ts
  frontend/src/routes/account/+page.svelte
Due: prettier, lint

NONAME-160 more UI/UX changes
  frontend/src/app.css
  frontend/src/lib/components/create-page/SurveyForm.svelte
  frontend/src/lib/components/global/AccountButtons.svelte
  frontend/src/lib/components/global/NavLinks.svelte
  frontend/src/lib/components/global/OpenSourceInfo.svelte
  frontend/src/lib/components/global/ScrollToTop.svelte
  frontend/src/lib/components/home-page/SurveyCodeForm.svelte
  frontend/src/lib/translations.ts
  frontend/src/routes/account/faq/+page.svelte
Due: prettier, lint

NONAME-230 nullable answers
  frontend/src/app.css
  frontend/src/lib/components/fill-page/Binary.svelte
  frontend/src/lib/components/fill-page/List.svelte
  frontend/src/lib/components/fill-page/Number.svelte
  frontend/src/lib/components/fill-page/Scale.svelte
  frontend/src/lib/components/fill-page/Single.svelte
  frontend/src/lib/components/fill-page/Slider.svelte
  frontend/src/lib/translations.ts
Due: prettier, lint

corrected comparison
  frontend/src/lib/components/fill-page/Number.svelte
  frontend/src/lib/components/fill-page/Slider.svelte
Due: prettier, lint

NONAME-230 handle null numerics in summary
  frontend/src/lib/components/summary-page/NumberSummary.svelte
  frontend/src/lib/components/summary-page/SliderSummary.svelte
  frontend/src/lib/components/summary-page/answer/Number.svelte
  frontend/src/lib/components/summary-page/answer/Slider.svelte
  frontend/src/lib/translations.ts
  frontend/src/routes/surveys/[surveysPage]/[code]/answers/[answersPage]/[answer]/+page.svelte
Due: prettier, lint

NONAME-160 a lot of informational additions
  frontend/src/app.css
  frontend/src/lib/components/account-page/AccountButtons.svelte
  frontend/src/lib/components/account-page/DownloadKey.svelte
  frontend/src/lib/components/account-page/SignIn.svelte
  frontend/src/lib/components/account-page/SignOut.svelte
  frontend/src/lib/components/create-page/AddQuestionButtons.svelte
  frontend/src/lib/components/create-page/SurveyForm.svelte
  frontend/src/lib/components/global/AccountButtons.svelte
  frontend/src/lib/components/global/Modal.svelte
  frontend/src/lib/components/global/NavBar.svelte
  frontend/src/lib/components/global/NavLinks.svelte
  frontend/src/lib/components/global/OpenSourceInfo.svelte
  frontend/src/lib/components/global/PageButtons.svelte
  frontend/src/lib/components/global/QrCodeModal.svelte
  frontend/src/lib/components/global/ScrollToTop.svelte
  frontend/src/lib/components/home-page/SurveyCodeForm.svelte
  frontend/src/lib/components/summary-page/answer/AnswersTable.svelte
  frontend/src/lib/stores/global.ts
  frontend/src/lib/translations.ts
  frontend/src/lib/utils/setTheme.ts
  frontend/src/lib/utils/toggleTheme.ts
  frontend/src/routes/+error.svelte
  frontend/src/routes/+layout.svelte
  frontend/src/routes/account/+page.server.ts
  frontend/src/routes/account/+page.svelte
  frontend/src/routes/account/faq/+page.svelte
  frontend/src/routes/drafts/[draftsPage]/+page.svelte
  frontend/src/routes/groups/[groupsPage]/+page.svelte
  frontend/src/routes/surveys/[surveysPage]/+page.svelte
Due: prettier, lint

NONAME-160 small fix
  frontend/src/lib/components/account-page/DownloadKey.svelte
  frontend/src/lib/components/account-page/SignIn.svelte
  frontend/src/lib/components/create-page/AddQuestionButtons.svelte
  frontend/src/lib/components/global/NavLinks.svelte
  frontend/src/lib/components/global/OpenSourceInfo.svelte
  frontend/src/lib/components/global/QrCodeModal.svelte
  frontend/src/lib/components/home-page/SurveyCodeForm.svelte
Due: prettier, lint

NONAME-230 handle nulls in summary
  frontend/src/app.css
  frontend/src/lib/components/summary-page/BinarySummary.svelte
  frontend/src/lib/components/summary-page/ListSummary.svelte
  frontend/src/lib/components/summary-page/MultiSummary.svelte
  frontend/src/lib/components/summary-page/NumberSummary.svelte
  frontend/src/lib/components/summary-page/ScaleSummary.svelte
  frontend/src/lib/components/summary-page/SingleSummary.svelte
  frontend/src/lib/components/summary-page/SliderSummary.svelte
  frontend/src/lib/components/summary-page/TextSummary.svelte
  frontend/src/lib/components/summary-page/answer/Binary.svelte
  frontend/src/lib/components/summary-page/answer/List.svelte
  frontend/src/lib/components/summary-page/answer/Multi.svelte
  frontend/src/lib/components/summary-page/answer/Number.svelte
  frontend/src/lib/components/summary-page/answer/Scale.svelte
  frontend/src/lib/components/summary-page/answer/Single.svelte
  frontend/src/lib/components/summary-page/answer/Slider.svelte
  frontend/src/lib/components/summary-page/answer/Text.svelte
  frontend/src/lib/translations.ts
Due: prettier, lint

NONAME-230 correct percentages
  frontend/src/lib/components/summary-page/MultiSummary.svelte
  frontend/src/lib/components/summary-page/ScaleSummary.svelte
Due: prettier, lint

NONAME-230 nullable rank
  frontend/src/lib/components/fill-page/Rank.svelte
  frontend/src/lib/components/summary-page/AnswersSummary.svelte
  frontend/src/lib/components/summary-page/RankSummary.svelte
  frontend/src/lib/components/summary-page/answer/Rank.svelte
Due: prettier, lint

NONAME-230 add missing translations
  frontend/src/lib/components/fill-page/Rank.svelte
  frontend/src/lib/translations.ts
Due: prettier, lint

NONAME-160 fixed being able to submit answer multiple times rapidly
  frontend/src/app.css
  frontend/src/lib/components/fill-page/SurveyForm.svelte
  frontend/src/lib/components/global/Modal.svelte
  frontend/src/lib/components/global/QrCodeModal.svelte
  frontend/src/lib/components/global/WarningModal.svelte
  frontend/src/lib/translations.ts
  frontend/src/routes/account/+page.svelte
Due: prettier, lint

NONAME-230 updated preview components
  frontend/src/lib/components/create-page/preview/BinaryPreview.svelte
  frontend/src/lib/components/create-page/preview/ListPreview.svelte
  frontend/src/lib/components/create-page/preview/NumberPreview.svelte
  frontend/src/lib/components/create-page/preview/RankPreview.svelte
  frontend/src/lib/components/create-page/preview/ScalePreview.svelte
  frontend/src/lib/components/create-page/preview/SinglePreview.svelte
  frontend/src/lib/components/create-page/preview/SliderPreview.svelte
Due: prettier, lint

NONAME-160 some modifications
  frontend/src/lib/components/account-page/AccountButtons.svelte
  frontend/src/lib/components/account-page/DownloadKey.svelte
  frontend/src/lib/components/account-page/SignIn.svelte
  frontend/src/lib/components/account-page/SignOut.svelte
  frontend/src/lib/components/create-page/AddQuestionButtons.svelte
  frontend/src/lib/components/create-page/QuestionTypeButton.svelte
  frontend/src/lib/components/global/NavBar.svelte
  frontend/src/lib/components/global/NavButtons.svelte
  frontend/src/lib/translations.ts
  frontend/src/routes/account/+page.svelte
Due: prettier, lint

NONAME-160 improved navbar on mobile | remade listeners in svelte fashion | removed redundant ticks
  frontend/src/lib/components/account-page/DownloadKey.svelte
  frontend/src/lib/components/create-page/FooterButtons.svelte
  frontend/src/lib/components/create-page/SurveyForm.svelte
  frontend/src/lib/components/fill-page/SurveyForm.svelte
  frontend/src/lib/components/global/DeleteModal.svelte
  frontend/src/lib/components/global/ErrorModal.svelte
  frontend/src/lib/components/global/Modal.svelte
  frontend/src/lib/components/global/NavBar.svelte
  frontend/src/lib/components/global/NavLinks.svelte
  frontend/src/lib/components/global/QrCodeModal.svelte
  frontend/src/lib/components/global/SuccessModal.svelte
  frontend/src/lib/components/global/WarningModal.svelte
  frontend/src/lib/components/groups-page/GroupsButtons.svelte
  frontend/src/lib/components/groups-page/GroupsTable.svelte
  frontend/src/lib/components/groups-page/group/MembersButtons.svelte
  frontend/src/lib/components/summary-page/access/UserButtons.svelte
Due: prettier, lint

NONAME-164 calculate and display average ranking
  frontend/src/lib/components/summary-page/AnswersSummary.svelte
  frontend/src/lib/components/summary-page/RankSummary.svelte
  frontend/src/lib/translations.ts
Due: prettier, lint

NONAME-232 potential workaround
  frontend/src/lib/utils/downloadFile.ts
  frontend/src/routes/account/+page.svelte
Due: prettier, lint

NONAME-231 survey summaries can now be exported and imported
  frontend/src/app.css
  frontend/src/lib/components/create-page/SurveyForm.svelte
  frontend/src/lib/components/global/ImportSummaryButton.svelte
  frontend/src/lib/components/global/WarningModal.svelte
  frontend/src/lib/components/summary-page/AnswersSummary.svelte
  frontend/src/lib/components/summary-page/TextSummary.svelte
  frontend/src/lib/components/surveys-page/ImportError.svelte
  frontend/src/lib/components/surveys-page/SurveysButtons.svelte
  frontend/src/lib/translations.ts
  frontend/src/lib/utils/getErrorMessage.ts
  frontend/src/routes/surveys/[surveysPage]/imported/+page.server.ts
  frontend/src/routes/surveys/[surveysPage]/imported/+page.svelte
Due: prettier, lint

now logging from navbar redirects to correct page
  backend/poetry.lock
  frontend/src/lib/components/account-page/SignIn.svelte
  frontend/src/lib/components/global/AccountButtons.svelte
  frontend/src/lib/utils/startOAuth.ts
  frontend/src/routes/api/oauth/callback/+server.ts
Due: isort, pyupgrade, yesqa, black, ruff, prettier, lint

poetry lock now ignored
  .gitignore
Due: none
