Repository sjerzykiewicz/NoName-Surveys: changes, and which pre-commit hooks are due for each by the changed paths.
All: codespell, isort, pyupgrade, yesqa, black, ruff, prettier, lint

codespell:
  name: codespell
  entry: bash -c 'cd backend && make codespell'
  language: system

isort:
  name: isort
  entry: bash -c 'cd backend && make isort'
  language: system

pyupgrade:
  name: pyupgrade
  entry: bash -c 'cd backend && make pyupgrade'
  language: system

yesqa:
  name: yesqa
  entry: bash -c 'cd backend && make yesqa'
  language: system

black:
  name: black
  entry: bash -c 'cd backend && make black'
  language: system

ruff:
  name: ruff
  entry: bash -c 'cd backend && make ruff'
  language: system

prettier:
  name: prettier
  entry: npm run format
  args:
  - --prefix
  - frontend
  language: system
  pass_filenames: false

lint:
  name: lint
  entry: npm run lint
  args:
  - --prefix
  - frontend
  language: system
  pass_filenames: false

NONAME-201 fixed types
  frontend/src/lib/server/database.ts
Due: prettier, lint

NONAME-179 standardized pydentic model validation
  backend/src/api/models/base.py
  backend/src/api/models/questions/binary_question.py
  backend/src/api/models/questions/list_question.py
  backend/src/api/models/questions/multi_question.py
  backend/src/api/models/questions/rank_question.py
  backend/src/api/models/questions/scale_question.py
  backend/src/api/models/questions/single_question.py
  backend/src/api/models/surveys/answer.py
  backend/src/api/models/surveys/survey.py
  backend/src/api/models/surveys/survey_draft.py
  backend/src/api/models/user_groups/user_groups.py
  backend/src/api/models/users/user.py
Due: codespell, isort, pyupgrade, yesqa, black, ruff

deleted unused regex
  backend/src/api/models/users/user.py
Due: codespell, isort, pyupgrade, yesqa, black, ruff

NONAME-210 adjusted endpoints | fixed some bugs | removed unused files
  backend/src/api/routes/user_groups.py
  frontend/src/lib/components/groups-page/GroupsButtons.svelte
  frontend/src/lib/components/groups-page/GroupsTable.svelte
  frontend/src/lib/components/groups-page/group/MembersButtons.svelte
  frontend/src/lib/components/summary-page/access/AccessTable.svelte
  frontend/src/lib/components/summary-page/access/UserButtons.svelte
  frontend/src/lib/server/database.ts
  frontend/src/routes/api/groups/add-users/+server.ts
  frontend/src/routes/api/groups/all/+server.ts
  frontend/src/routes/api/groups/remove-users/+server.ts
  frontend/src/routes/api/surveys/drafts/all/+server.ts
  frontend/src/routes/api/surveys/respondents/+server.ts
  frontend/src/routes/api/users/all-with-keys/+server.ts
  frontend/src/routes/api/users/all/+server.ts
  frontend/src/routes/api/users/has-public-key/+server.ts
  frontend/src/routes/groups/[groupsPage]/[group]/[groupPage]/+page.svelte
  frontend/src/routes/surveys/[surveysPage]/[code]/access/[accessPage]/+page.svelte
Due: codespell, isort, pyupgrade, yesqa, black, ruff, prettier, lint

NONAME-138 simple hotkeys
  frontend/src/lib/components/create-page/AddQuestionButtons.svelte
Due: prettier, lint

NONAME-210 fixed a few things
  frontend/src/app.css
  frontend/src/lib/components/global/Input.svelte
  frontend/src/lib/components/groups-page/GroupsTable.svelte
  frontend/src/lib/components/summary-page/access/UserButtons.svelte
  frontend/src/lib/server/database.ts
  frontend/src/routes/groups/[groupsPage]/[group]/[groupPage]/+page.svelte
Due: prettier, lint

NONAME-212-213 new sorting and limits
  backend/src/api/routes/survey_drafts.py
  backend/src/api/routes/surveys.py
  backend/src/api/routes/user_groups.py
  backend/src/db/crud/ring_member.py
  backend/src/db/crud/survey.py
  backend/src/db/crud/user_groups.py
  backend/tests/api/routes/test_user_groups.py
Due: codespell, isort, pyupgrade, yesqa, black, ruff

changed is False to ==
  backend/src/db/crud/survey.py
Due: codespell, isort, pyupgrade, yesqa, black, ruff

quick fix
  backend/src/api/routes/surveys.py
Due: codespell, isort, pyupgrade, yesqa, black, ruff

added python tests to ci-cd
  .github/workflows/ci-cd-pipeline.yaml
Due: none

fixed test ci-cd
  .github/workflows/ci-cd-pipeline.yaml
Due: none

NONAME-214 removed sorting
  frontend/src/lib/components/drafts-page/DraftsTable.svelte
  frontend/src/lib/components/groups-page/GroupsTable.svelte
  frontend/src/lib/components/groups-page/group/MembersTable.svelte
  frontend/src/lib/components/summary-page/access/AccessTable.svelte
  frontend/src/lib/components/summary-page/buttons/SummaryButton.svelte
  frontend/src/lib/components/summary-page/respondents/RespondentsTable.svelte
  frontend/src/lib/components/surveys-page/SurveysTable.svelte
Due: prettier, lint

NONAME-214 added warning modals about limits | removed scrollbar style for firefox (it broke other browsers)
  frontend/src/app.css
  frontend/src/lib/components/create-page/FooterButtons.svelte
  frontend/src/lib/components/create-page/SurveyForm.svelte
  frontend/src/lib/components/global/DeleteModal.svelte
  frontend/src/lib/components/global/ImportEmails.svelte
  frontend/src/lib/components/groups-page/GroupsButtons.svelte
  frontend/src/routes/create/+page.server.ts
  frontend/src/routes/create/+page.svelte
Due: prettier, lint

NONAME-211 fixed bugs
  backend/src/api/models/base.py
  backend/src/api/models/surveys/survey.py
  backend/src/api/routes/user_groups.py
  backend/src/db/crud/survey.py
  backend/src/db/crud/user_groups.py
  backend/tests/api/routes/test_surveys.py
  backend/tests/api/routes/test_user_groups.py
Due: codespell, isort, pyupgrade, yesqa, black, ruff

introduced more tests
  backend/tests/api/routes/test_surveys.py
Due: codespell, isort, pyupgrade, yesqa, black, ruff

NONAME-197 adjustable slider WIP
  frontend/src/app.css
  frontend/src/lib/components/create-page/Number.svelte
  frontend/src/lib/components/create-page/Slider.svelte
  frontend/src/lib/components/create-page/preview/NumberPreview.svelte
  frontend/src/lib/components/create-page/preview/SliderPreview.svelte
  frontend/src/lib/components/fill-page/Number.svelte
  frontend/src/lib/components/fill-page/Slider.svelte
Due: prettier, lint

NONAME-215 add new endpoints for users listing
  backend/src/api/routes/surveys.py
  backend/src/api/routes/user_groups.py
  backend/src/db/crud/survey.py
  backend/src/db/crud/user_groups.py
  backend/tests/api/routes/test_user_groups.py
Due: codespell, isort, pyupgrade, yesqa, black, ruff

NONAME-197 some adjustments
  frontend/src/app.css
  frontend/src/lib/components/create-page/AddQuestionButtons.svelte
  frontend/src/lib/components/create-page/Slider.svelte
  frontend/src/lib/components/create-page/preview/NumberPreview.svelte
  frontend/src/lib/components/fill-page/Number.svelte
  frontend/src/lib/components/global/ScrollToTop.svelte
Due: prettier, lint

NONAME-214 added usage of new endpoints
  frontend/src/lib/server/database.ts
  frontend/src/routes/account/+page.svelte
  frontend/src/routes/create/+page.server.ts
  frontend/src/routes/groups/[groupsPage]/[group]/[groupPage]/+page.server.ts
  frontend/src/routes/groups/[groupsPage]/[group]/[groupPage]/+page.svelte
  frontend/src/routes/surveys/[surveysPage]/[code]/access/[accessPage]/+page.server.ts
  frontend/src/routes/surveys/[surveysPage]/[code]/access/[accessPage]/+page.svelte
Due: prettier, lint

NONAME-217 endpoints updated
  frontend/src/lib/components/create-page/FooterButtons.svelte
  frontend/src/lib/components/create-page/SurveyForm.svelte
  frontend/src/lib/entities/surveys/DraftCreateInfo.ts
  frontend/src/lib/entities/surveys/SurveyCreateInfo.ts
  frontend/src/routes/create/+page.server.ts
  frontend/src/routes/drafts/[draftsPage]/+page.server.ts
  frontend/src/routes/groups/[groupsPage]/+layout.server.ts
  frontend/src/routes/groups/[groupsPage]/[group]/[groupPage]/+page.server.ts
  frontend/src/routes/surveys/[surveysPage]/+layout.server.ts
  frontend/src/routes/surveys/[surveysPage]/[code]/+layout.server.ts
  frontend/src/routes/surveys/[surveysPage]/[code]/access/[accessPage]/+page.server.ts
Due: prettier, lint

NONAME-197 adjustable slider done
  frontend/src/lib/components/create-page/Binary.svelte
  frontend/src/lib/components/create-page/Slider.svelte
  frontend/src/lib/components/create-page/preview/BinaryPreview.svelte
  frontend/src/lib/components/create-page/preview/NumberPreview.svelte
  frontend/src/lib/components/create-page/preview/RankPreview.svelte
  frontend/src/lib/components/create-page/preview/SliderPreview.svelte
  frontend/src/lib/components/drafts-page/DraftsTable.svelte
  frontend/src/lib/components/fill-page/Binary.svelte
  frontend/src/lib/components/fill-page/Number.svelte
  frontend/src/lib/components/fill-page/Slider.svelte
  frontend/src/lib/components/fill-page/SurveyForm.svelte
  frontend/src/lib/components/summary-page/BinarySummary.svelte
  frontend/src/lib/components/summary-page/answer/Binary.svelte
  frontend/src/lib/entities/questions/Slider.ts
  frontend/src/lib/utils/constructQuestionList.ts
Due: prettier, lint

NONAME-214 fixed endpoints
  frontend/src/routes/create/+page.server.ts
  frontend/src/routes/groups/[groupsPage]/[group]/[groupPage]/+page.server.ts
  frontend/src/routes/surveys/[surveysPage]/[code]/access/[accessPage]/+page.server.ts
Due: prettier, lint

removed comment
  frontend/wasm/src/lib.rs
Due: prettier, lint

NONAME-197 adjusted styles on mobile
  frontend/src/lib/components/drafts-page/DraftsButtons.svelte
  frontend/src/lib/components/global/PageButtons.svelte
  frontend/src/lib/components/groups-page/GroupsButtons.svelte
  frontend/src/lib/components/groups-page/group/MembersButtons.svelte
  frontend/src/lib/components/summary-page/access/UserButtons.svelte
  frontend/src/lib/components/summary-page/answer/AnswersTable.svelte
  frontend/src/lib/components/summary-page/respondents/RespondentsTable.svelte
  frontend/src/lib/components/surveys-page/SurveysButtons.svelte
Due: prettier, lint

NONAME-197 small fix
  frontend/src/lib/components/summary-page/access/UserButtons.svelte
Due: prettier, lint

NONAME-218 added endpoint returning all user group members
  backend/src/api/routes/user_groups.py
  backend/src/db/crud/user_groups.py
  backend/tests/api/routes/test_user_groups.py
Due: codespell, isort, pyupgrade, yesqa, black, ruff

NONAME-214-219 fixed not being able to create a secure survey for a group
  frontend/src/lib/components/create-page/SurveyForm.svelte
  frontend/src/lib/server/database.ts
  frontend/src/routes/api/groups/fetch/+server.ts
Due: prettier, lint

more polish translations added
  frontend/package-lock.json
  frontend/src/app.css
  frontend/src/lib/components/account-page/SignIn.svelte
  frontend/src/lib/components/create-page/FooterButtons.svelte
  frontend/src/lib/components/create-page/SurveyTitle.svelte
  frontend/src/lib/components/create-page/TitleError.svelte
  frontend/src/lib/components/create-page/preview/SurveyTitlePreview.svelte
  frontend/src/lib/components/global/NavBar.svelte
  frontend/src/lib/translations.ts
  frontend/src/routes/create/+page.svelte
Due: prettier, lint

NONAME-161 some small adjustments
  frontend/src/lib/components/account-page/DownloadKey.svelte
  frontend/src/lib/components/account-page/SignIn.svelte
  frontend/src/lib/components/create-page/FooterButtons.svelte
  frontend/src/lib/translations.ts
Due: prettier, lint

NONAME-197 fixed wrong errors for slider
  frontend/src/lib/components/create-page/ChoiceError.svelte
  frontend/src/lib/components/create-page/FooterButtons.svelte
  frontend/src/lib/entities/SurveyError.ts
Due: prettier, lint

NONAME-197 compare precision in slider answers
  backend/src/api/models/questions/slider_question.py
Due: codespell, isort, pyupgrade, yesqa, black, ruff

NONAME-197 added a bottom limit to precision
  frontend/src/lib/components/create-page/Slider.svelte
Due: prettier, lint

NONAME-197 added error when precision is too high
  frontend/src/lib/components/create-page/ChoiceError.svelte
  frontend/src/lib/components/create-page/FooterButtons.svelte
  frontend/src/lib/entities/SurveyError.ts
Due: prettier, lint

NONAME-197 added check on backend
  backend/src/api/models/questions/slider_question.py
Due: codespell, isort, pyupgrade, yesqa, black, ruff

NONAME-161 create page translations done
  frontend/src/lib/components/create-page/AddQuestionButtons.svelte
  frontend/src/lib/components/create-page/ChoiceError.svelte
  frontend/src/lib/components/create-page/CryptoError.svelte
  frontend/src/lib/components/create-page/List.svelte
  frontend/src/lib/components/create-page/Multi.svelte
  frontend/src/lib/components/create-page/QuestionError.svelte
  frontend/src/lib/components/create-page/QuestionTitle.svelte
  frontend/src/lib/components/create-page/QuestionTypeButton.svelte
  frontend/src/lib/components/create-page/Rank.svelte
  frontend/src/lib/components/create-page/Single.svelte
  frontend/src/lib/components/create-page/SurveyForm.svelte
  frontend/src/lib/components/create-page/preview/QuestionTitlePreview.svelte
  frontend/src/lib/components/drafts-page/DraftsButtons.svelte
  frontend/src/lib/components/fill-page/QuestionTitle.svelte
  frontend/src/lib/components/global/DeleteModal.svelte
  frontend/src/lib/components/groups-page/GroupsButtons.svelte
  frontend/src/lib/components/groups-page/GroupsTable.svelte
  frontend/src/lib/components/groups-page/group/MembersButtons.svelte
  frontend/src/lib/components/summary-page/BinarySummary.svelte
  frontend/src/lib/components/summary-page/ListSummary.svelte
  frontend/src/lib/components/summary-page/MultiSummary.svelte
  frontend/src/lib/components/summary-page/NumberSummary.svelte
  frontend/src/lib/components/summary-page/QuestionTitle.svelte
  frontend/src/lib/components/summary-page/ScaleSummary.svelte
  frontend/src/lib/components/summary-page/SingleSummary.svelte
  frontend/src/lib/components/summary-page/SliderSummary.svelte
  frontend/src/lib/components/summary-page/access/UserButtons.svelte
  frontend/src/lib/components/summary-page/respondents/RespondentsTable.svelte
  frontend/src/lib/components/surveys-page/SurveysButtons.svelte
  frontend/src/lib/translations.ts
  frontend/src/lib/utils/getQuestionTypeData.ts
Due: prettier, lint

WIP question navigation
  frontend/src/lib/components/create-page/AddQuestionButtons.svelte
  frontend/src/lib/components/create-page/QuestionTitle.svelte
  frontend/src/lib/stores/create-page.ts
  frontend/src/lib/utils/setQuestionFocus.ts
Due: prettier, lint

NONAME-161 fixed some issues
  frontend/src/lib/components/create-page/AddQuestionButtons.svelte
  frontend/src/lib/components/create-page/List.svelte
  frontend/src/lib/components/create-page/Multi.svelte
  frontend/src/lib/components/create-page/QuestionTitle.svelte
  frontend/src/lib/components/create-page/QuestionTypeButton.svelte
  frontend/src/lib/components/create-page/Rank.svelte
  frontend/src/lib/components/create-page/Single.svelte
  frontend/src/lib/components/create-page/Slider.svelte
  frontend/src/lib/components/create-page/SurveyForm.svelte
  frontend/src/lib/components/global/NavBar.svelte
  frontend/src/lib/components/global/ScrollToTop.svelte
  frontend/src/lib/translations.ts
Due: prettier, lint

Path conditions:
  codespell: any of: ^backend/ and \.py$, \.rst$, \.(md|markdown|mdown)$ and not (.git|.tox)
  isort: any of: ^backend/, but not: .git|.tox
  pyupgrade: any of: ^backend/, but not: .git|.tox
  yesqa: any of: ^backend/, but not: .git|.tox
  black: any of: ^backend/, but not: .git|.tox
  ruff: any of: ^backend/, but not: .git|.tox
  prettier: any of: ^frontend/, but not: .git|.tox
  lint: any of: ^frontend/, but not: .git|.tox
