Repository sjerzykiewicz/NoName-Surveys: changes, and which pre-commit hooks are due for each by the changed paths.
All: codespell, isort, pyupgrade, yesqa, black, ruff, prettier, lint

codespell:
  name: codespell
  entry: bash -c 'cd backend && make codespell'
  language: system

isort:
  name: isort
  entry: bash -c 'cd backend && make isort'
  language: system

pyupgrade:
  name: pyupgrade
  entry: bash -c 'cd backend && make pyupgrade'
  language: system

yesqa:
  name: yesqa
  entry: bash -c 'cd backend && make yesqa'
  language: system

black:
  name: black
  entry: bash -c 'cd backend && make black'
  language: system

ruff:
  name: ruff
  entry: bash -c 'cd backend && make ruff'
  language: system

prettier:
  name: prettier
  entry: npm run format
  args:
  - --prefix
  - frontend
  language: system
  pass_filenames: false

lint:
  name: lint
  entry: npm run lint
  args:
  - --prefix
  - frontend
  language: system
  pass_filenames: false

delete weird file
  package-lock.json
Due: none

NONAME-257 surveys can now be activated and deactivated
  frontend/src/lib/components/surveys-page/SurveysButtons.svelte
  frontend/src/lib/components/surveys-page/SurveysTable.svelte
  frontend/src/lib/entities/surveys/SurveyHeader.ts
  frontend/src/lib/server/database.ts
  frontend/src/lib/translations.ts
  frontend/src/routes/api/surveys/toggle-enabled/+server.ts
  frontend/src/routes/surveys/[surveysPage]/+layout.server.ts
Due: prettier, lint

NONAME-244 minor fixes
  backend/src/api/utils/helpers.py
  frontend/src/lib/components/global/NavBar.svelte
  frontend/src/lib/components/global/NavButtons.svelte
  frontend/src/lib/components/surveys-page/SurveysTable.svelte
Due: codespell, isort, pyupgrade, yesqa, black, ruff, prettier, lint

tag changes
  docker-compose.yml
Due: none

readmes improved
  README.md
  backend/README.md
  frontend/README.md
  images/diagram.png
Due: codespell, isort, pyupgrade, yesqa, black, ruff, prettier, lint

NONAME-244 subtitles on create page WIP
  frontend/src/app.css
  frontend/src/lib/components/create-page/AddQuestionButtons.svelte
  frontend/src/lib/components/create-page/ChoiceError.svelte
  frontend/src/lib/components/create-page/QuestionTitle.svelte
  frontend/src/lib/components/create-page/Subtitle.svelte
  frontend/src/lib/components/create-page/SubtitleError.svelte
  frontend/src/lib/components/create-page/SurveyForm.svelte
  frontend/src/lib/components/create-page/preview/QuestionTitlePreview.svelte
  frontend/src/lib/components/create-page/preview/SubtitlePreview.svelte
  frontend/src/lib/components/fill-page/QuestionTitle.svelte
  frontend/src/lib/components/fill-page/SurveyForm.svelte
  frontend/src/lib/entities/SurveyError.ts
  frontend/src/lib/translations.ts
  frontend/src/lib/utils/checkQuestionError.ts
Due: prettier, lint

origin env value update
  k8s/frontend-deployment.yaml
Due: none

added info about tests
  frontend/README.md
  frontend/package.json
Due: prettier, lint

added info about tests
  backend/Makefile
  backend/README.md
Due: codespell, isort, pyupgrade, yesqa, black, ruff

added info about pre-commit
  CONTRIBUTING.md
Due: none

update info about envs
  README.md
Due: none

NONAME-244 finished subtitles
  frontend/src/app.css
  frontend/src/lib/components/create-page/AddQuestionButtons.svelte
  frontend/src/lib/components/create-page/preview/QuestionTitlePreview.svelte
  frontend/src/lib/components/drafts-page/DraftsTable.svelte
  frontend/src/lib/components/fill-page/AnswerError.svelte
  frontend/src/lib/components/fill-page/QuestionTitle.svelte
  frontend/src/lib/components/fill-page/Subtitle.svelte
  frontend/src/lib/components/fill-page/SurveyForm.svelte
  frontend/src/lib/components/summary-page/AnswersSummary.svelte
  frontend/src/lib/components/summary-page/QuestionTitle.svelte
  frontend/src/lib/components/summary-page/Subtitle.svelte
  frontend/src/lib/components/summary-page/answer/Answers.svelte
  frontend/src/lib/entities/questions/Subtitle.ts
  frontend/src/lib/entities/surveys/Survey.ts
  frontend/src/lib/entities/surveys/SurveyAnswer.ts
  frontend/src/lib/entities/surveys/SurveySummary.ts
  frontend/src/lib/translations.ts
  frontend/src/lib/utils/constructQuestionList.ts
  frontend/src/lib/utils/getQuestionTypeData.ts
Due: prettier, lint

NONAME-244 empty subtitles are now a single line
  frontend/src/app.css
  frontend/src/lib/components/create-page/SurveyForm.svelte
  frontend/src/lib/components/create-page/preview/SubtitlePreview.svelte
  frontend/src/lib/components/fill-page/Subtitle.svelte
  frontend/src/lib/components/summary-page/AnswersSummary.svelte
  frontend/src/lib/components/summary-page/Subtitle.svelte
Due: prettier, lint

NONAME-244 hotkeys tooltip can be pinned
  frontend/src/app.css
  frontend/src/lib/components/create-page/AddQuestionButtons.svelte
  frontend/src/lib/components/create-page/SurveyForm.svelte
  frontend/src/lib/translations.ts
Due: prettier, lint

NONAME-234: Added a lot of user documentation
  README.md
Due: none

NONAME-241 added some links to FAQ and README
  README.md
  frontend/src/app.css
  frontend/src/lib/components/account-page/DownloadKey.svelte
  frontend/src/lib/components/account-page/Faq.svelte
  frontend/src/lib/components/account-page/SignIn.svelte
  frontend/src/lib/components/create-page/SurveyForm.svelte
  frontend/src/lib/components/drafts-page/DraftsTable.svelte
  frontend/src/lib/components/global/ImportEmails.svelte
  frontend/src/lib/components/global/OpenSourceInfo.svelte
  frontend/src/lib/components/groups-page/GroupsTable.svelte
  frontend/src/lib/components/home-page/SurveyCodeForm.svelte
  frontend/src/lib/components/surveys-page/SurveysTable.svelte
  frontend/src/lib/translations.ts
  frontend/src/routes/account/faq/+page.svelte
  frontend/src/routes/drafts/[draftsPage]/+page.svelte
  frontend/src/routes/groups/[groupsPage]/+page.svelte
  frontend/src/routes/surveys/[surveysPage]/+page.svelte
Due: prettier, lint

fixed links
  README.md
  frontend/src/lib/components/account-page/DownloadKey.svelte
  frontend/src/lib/components/account-page/SignIn.svelte
  frontend/src/lib/components/create-page/SurveyForm.svelte
  frontend/src/lib/components/home-page/SurveyCodeForm.svelte
  frontend/src/routes/drafts/[draftsPage]/+page.svelte
  frontend/src/routes/groups/[groupsPage]/+page.svelte
  frontend/src/routes/surveys/[surveysPage]/+page.svelte
Due: prettier, lint

NONAME-258 add lrs explanation
  README.md
Due: none

table of contents added
  README.md
Due: none

NONAME-259 change message construction
  backend/src/api/models/metadata/subtitle.py
  backend/src/api/routes/answers.py
  frontend/src/lib/components/fill-page/SurveyForm.svelte
  frontend/src/lib/entities/questions/Subtitle.ts
Due: codespell, isort, pyupgrade, yesqa, black, ruff, prettier, lint

NONAME-259 additional checks in rust
  frontend/src/lib/components/fill-page/SurveyForm.svelte
  frontend/wasm/src/lib.rs
Due: prettier, lint

NONAME-259 add tests to rust code
  frontend/wasm/src/lib.rs
  frontend/wasm/test_data/test_incorrect_pub_key.txt
  frontend/wasm/test_data/test_non_numeric_pub_key.txt
  frontend/wasm/test_data/test_pub_key1.txt
  frontend/wasm/test_data/test_pub_key2.txt
  frontend/wasm/test_data/test_pub_key3.txt
  frontend/wasm/test_data/test_zero_pub_key.txt
Due: prettier, lint

NONAME-259 add lrs tests on backend
  backend/src/cryptography/ring_signature.py
  backend/tests/cryptography/test_lrs.py
Due: codespell, isort, pyupgrade, yesqa, black, ruff

NONAME-260: Introduce service layer
  backend/src/api/routes/answers.py
  backend/src/api/routes/survey_drafts.py
  backend/src/api/routes/surveys.py
  backend/src/api/routes/user_groups.py
  backend/src/api/routes/users.py
  backend/src/services/answers_service.py
  backend/src/services/survey_draft_service.py
  backend/src/services/survey_service.py
  backend/src/services/user_group_service.py
  backend/src/services/user_service.py
  backend/src/services/utils/__init__.py
  backend/src/services/utils/helpers.py
  backend/tests/services/test_user_group_service.py
  backend/tests/services/utils/test_helpers.py
Due: codespell, isort, pyupgrade, yesqa, black, ruff

NONAME-260: Standardize exception handling
  backend/src/api/routes/answers.py
  backend/src/api/routes/survey_drafts.py
  backend/src/api/routes/surveys.py
  backend/src/api/routes/user_groups.py
  backend/src/api/routes/users.py
  backend/src/services/answers_service.py
  backend/src/services/survey_draft_service.py
  backend/src/services/survey_service.py
  backend/src/services/user_service.py
  backend/src/services/utils/exceptions.py
  backend/src/services/utils/helpers.py
  backend/tests/services/utils/test_helpers.py
Due: codespell, isort, pyupgrade, yesqa, black, ruff

NONAME-260: New naming convention for crud and small fixes
  backend/src/api/routes/user_groups.py
  backend/src/db/crud/answer.py
  backend/src/db/crud/survey.py
  backend/src/db/crud/survey_draft.py
  backend/src/db/crud/user.py
  backend/src/db/crud/user_groups.py
  backend/src/services/answers_service.py
  backend/src/services/survey_draft_service.py
  backend/src/services/survey_service.py
  backend/src/services/user_group_service.py
  backend/src/services/user_service.py
  backend/src/services/utils/exceptions.py
  backend/src/services/utils/helpers.py
Due: codespell, isort, pyupgrade, yesqa, black, ruff

NONAME-260: Added some tests and small fixes
  backend/src/db/crud/answer.py
  backend/src/services/answers_service.py
  backend/tests/db/crud/test_answer_repository.py
  backend/tests/db/crud/test_ring_member_repository.py
  backend/tests/db/crud/test_survey_draft_repository.py
  backend/tests/db/crud/test_survey_repository.py
  backend/tests/db/crud/test_user_groups_repository.py
  backend/tests/db/crud/test_user_repository.py
  backend/tests/services/test_answers_service.py
  backend/tests/services/test_survey_draft_service.py
  backend/tests/services/test_survey_service.py
  backend/tests/services/test_user_group_service.py
  backend/tests/services/test_user_service.py
Due: codespell, isort, pyupgrade, yesqa, black, ruff

small fix
  backend/tests/services/test_survey_service.py
  backend/tests/services/utils/test_helpers.py
Due: codespell, isort, pyupgrade, yesqa, black, ruff

NONAME-260: Fixed lines that were too long
  backend/src/db/crud/user_groups.py
  backend/src/services/survey_draft_service.py
  backend/src/services/user_group_service.py
  backend/src/services/utils/exceptions.py
  backend/tests/api/routes/test_answers.py
  backend/tests/db/crud/test_ring_member_repository.py
  backend/tests/db/crud/test_survey_draft_repository.py
  backend/tests/db/crud/test_survey_repository.py
  backend/tests/db/crud/test_user_groups_repository.py
  backend/tests/db/crud/test_user_repository.py
  backend/tests/services/test_answers_service.py
  backend/tests/services/test_survey_draft_service.py
  backend/tests/services/test_survey_service.py
  backend/tests/services/test_user_group_service.py
  backend/tests/services/test_user_service.py
Due: codespell, isort, pyupgrade, yesqa, black, ruff

NONAME-260: Small fixes
  backend/src/api/routes/answers.py
  backend/src/api/routes/survey_drafts.py
  backend/src/api/routes/surveys.py
  backend/src/api/routes/users.py
  backend/src/services/survey_service.py
  backend/src/services/user_service.py
  backend/src/services/utils/exceptions.py
  backend/tests/services/test_user_service.py
Due: codespell, isort, pyupgrade, yesqa, black, ruff

NONAME-260: Improve crud tests
  backend/src/db/crud/survey.py
  backend/tests/db/crud/test_answer_repository.py
  backend/tests/db/crud/test_ring_member_repository.py
  backend/tests/db/crud/test_survey_draft_repository.py
  backend/tests/db/crud/test_survey_repository.py
  backend/tests/db/crud/test_user_groups_repository.py
  backend/tests/db/crud/test_user_repository.py
Due: codespell, isort, pyupgrade, yesqa, black, ruff

remove poetry lock from backend tests
  .github/workflows/ci-cd-pipeline.yaml
Due: none

table of content readme fix
  README.md
Due: none

small improvements
  .github/workflows/ci-cd-pipeline.yaml
Due: none

test frontend
  .github/workflows/ci-cd-pipeline.yaml
  backend/scripts/test_data.sh
  frontend/tests/rootpage.test.ts
Due: isort, pyupgrade, yesqa, black, ruff, prettier, lint

test frontend
  .github/workflows/ci-cd-pipeline.yaml
Due: none

wait for backend
  .github/workflows/ci-cd-pipeline.yaml
Due: none

tests env fix
  .github/workflows/ci-cd-pipeline.yaml
  frontend/package-lock.json
  frontend/package.json
  frontend/tests/rootpage.test.ts
Due: prettier, lint

Path conditions:
  codespell: any of: ^backend/ and \.py$, \.rst$, \.(md|markdown|mdown)$ and not (.git|.tox)
  isort: any of: ^backend/, but not: .git|.tox
  pyupgrade: any of: ^backend/, but not: .git|.tox
  yesqa: any of: ^backend/, but not: .git|.tox
  black: any of: ^backend/, but not: .git|.tox
  ruff: any of: ^backend/, but not: .git|.tox
  prettier: any of: ^frontend/, but not: .git|.tox
  lint: any of: ^frontend/, but not: .git|.tox
