Repository sjerzykiewicz/NoName-Surveys: changes, and which pre-commit hooks are due for each by the changed paths.
All: codespell, isort, pyupgrade, yesqa, black, ruff, prettier, lint

.pre-commit-config.yaml:

exclude: '.git|.tox'
default_stages: [commit]
fail_fast: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-json
      - id: check-merge-conflict
      - id: check-toml
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: codespell
        name: codespell
        entry: bash -c 'cd backend && make codespell'
        language: system
        types_or: [python, rst, markdown]
        files: ^backend/

      - id: isort
        name: isort
        entry: bash -c 'cd backend && make isort'
        language: system
        files: ^backend/

      - id: pyupgrade
        name: pyupgrade
        entry: bash -c 'cd backend && make pyupgrade'
        language: system
        files: ^backend/

      - id: yesqa
        name: yesqa
        entry: bash -c 'cd backend && make yesqa'
        language: system
        files: ^backend/

      - id: black
        name: black
        entry: bash -c 'cd backend && make black'
        language: system
        files: ^backend/

      - id: ruff
        name: ruff
        entry: bash -c 'cd backend && make ruff'
        language: system
        files: ^backend/

      - id: prettier
        name: prettier
        entry: npm run format
        args: ['--prefix', 'frontend']
        language: system
        files: ^frontend/
        pass_filenames: false

      - id: lint
        name: lint
        entry: npm run lint
        args: ['--prefix', 'frontend']
        language: system
        files: ^frontend/
        pass_filenames: false

      - id: rustfmt
        name: rustfmt
        entry: bash -c 'cd frontend/wasm && cargo fmt'
        language: system
        pass_filenames: false

NONAME-154 removed newline replacers
  frontend/src/lib/components/create-page/FooterButtons.svelte
  frontend/src/lib/components/create-page/SurveyForm.svelte
  frontend/src/lib/components/fill-page/SurveyForm.svelte
  frontend/src/lib/components/groups-page/AddGroupButtons.svelte
  frontend/src/lib/components/groups-page/GroupsTable.svelte
  frontend/src/lib/utils/trimQuestions.ts
  frontend/src/routes/create/+page.svelte
Due: prettier, lint

NONAME-154 display error when limit is exceeded
  frontend/src/app.css
  frontend/src/lib/components/create-page/AddQuestionButtons.svelte
  frontend/src/lib/components/create-page/Binary.svelte
  frontend/src/lib/components/create-page/ChoiceError.svelte
  frontend/src/lib/components/create-page/FooterButtons.svelte
  frontend/src/lib/components/create-page/List.svelte
  frontend/src/lib/components/create-page/Multi.svelte
  frontend/src/lib/components/create-page/QuestionError.svelte
  frontend/src/lib/components/create-page/QuestionTitle.svelte
  frontend/src/lib/components/create-page/Rank.svelte
  frontend/src/lib/components/create-page/Single.svelte
  frontend/src/lib/components/create-page/SurveyForm.svelte
  frontend/src/lib/components/create-page/SurveyTitle.svelte
  frontend/src/lib/components/create-page/Text.svelte
  frontend/src/lib/components/create-page/TitleError.svelte
  frontend/src/lib/components/create-page/preview/SurveyTitlePreview.svelte
  frontend/src/lib/components/create-page/preview/TextPreview.svelte
  frontend/src/lib/components/drafts-page/DraftsTable.svelte
  frontend/src/lib/components/fill-page/Text.svelte
  frontend/src/lib/components/groups-page/AddGroupButtons.svelte
  frontend/src/lib/components/groups-page/GroupsTable.svelte
  frontend/src/lib/components/groups-page/NameError.svelte
  frontend/src/lib/components/groups-page/NameTableError.svelte
  frontend/src/lib/entities/GroupError.ts
  frontend/src/lib/entities/SurveyError.ts
  frontend/src/lib/entities/questions/QuestionsStore.ts
  frontend/src/lib/stores/create-page.ts
  frontend/src/routes/create/+page.svelte
Due: prettier, lint

NONAME-153 normalized breakpoints across the app
  frontend/src/app.css
  frontend/src/lib/components/Footer.svelte
  frontend/src/lib/components/Modal.svelte
  frontend/src/lib/components/NavBar.svelte
  frontend/src/lib/components/QrCodeModal.svelte
  frontend/src/lib/components/ScrollToTop.svelte
  frontend/src/lib/components/account-page/DownloadKey.svelte
  frontend/src/lib/components/account-page/SignIn.svelte
  frontend/src/lib/components/account-page/SignOut.svelte
  frontend/src/lib/components/create-page/AddQuestionButtons.svelte
  frontend/src/lib/components/create-page/Binary.svelte
  frontend/src/lib/components/create-page/CryptoButtons.svelte
  frontend/src/lib/components/create-page/List.svelte
  frontend/src/lib/components/create-page/Multi.svelte
  frontend/src/lib/components/create-page/Rank.svelte
  frontend/src/lib/components/create-page/Single.svelte
  frontend/src/lib/components/create-page/Slider.svelte
  frontend/src/lib/components/create-page/SurveyTitle.svelte
  frontend/src/lib/components/create-page/preview/SliderPreview.svelte
  frontend/src/lib/components/drafts-page/DraftsTable.svelte
  frontend/src/lib/components/fill-page/Binary.svelte
  frontend/src/lib/components/fill-page/Rank.svelte
  frontend/src/lib/components/fill-page/Slider.svelte
  frontend/src/lib/components/fill-page/SurveyForm.svelte
  frontend/src/lib/components/groups-page/AddGroupButtons.svelte
  frontend/src/lib/components/groups-page/GroupsTable.svelte
  frontend/src/lib/components/home-page/SurveyCodeForm.svelte
  frontend/src/lib/components/summary-page/BinarySummary.svelte
  frontend/src/lib/components/summary-page/ScaleSummary.svelte
  frontend/src/lib/components/summary-page/access/AddUserButtons.svelte
  frontend/src/lib/components/summary-page/access/UsersTable.svelte
  frontend/src/lib/components/summary-page/answer/Slider.svelte
  frontend/src/lib/components/surveys-page/SurveysTable.svelte
  frontend/src/lib/stores/global.ts
  frontend/src/routes/+error.svelte
  frontend/src/routes/+layout.svelte
  frontend/src/routes/account/+page.svelte
Due: prettier, lint

NONAME-150 added Number question type, but it does not look good yet
  frontend/src/lib/components/create-page/AddQuestionButtons.svelte
  frontend/src/lib/components/create-page/FooterButtons.svelte
  frontend/src/lib/components/create-page/Number.svelte
  frontend/src/lib/components/create-page/QuestionTypeButton.svelte
  frontend/src/lib/components/create-page/preview/NumberPreview.svelte
  frontend/src/lib/components/fill-page/Number.svelte
  frontend/src/lib/components/fill-page/SurveyForm.svelte
  frontend/src/lib/components/summary-page/AnswersSummary.svelte
  frontend/src/lib/components/summary-page/NumberSummary.svelte
  frontend/src/lib/components/summary-page/answer/Answers.svelte
  frontend/src/lib/components/summary-page/answer/Number.svelte
  frontend/src/lib/entities/questions/Number.ts
  frontend/src/lib/utils/constructQuestionList.ts
  frontend/src/lib/utils/getQuestionTypeData.ts
  frontend/wasm/Cargo.lock
Due: prettier, lint

NONAME-154 small adjustment
  frontend/src/lib/components/create-page/AddQuestionButtons.svelte
Due: prettier, lint

working i18n added
  frontend/package-lock.json
  frontend/package.json
  frontend/src/lib/components/NavBar.svelte
  frontend/src/lib/components/home-page/SurveyCodeForm.svelte
  frontend/src/lib/translations.ts
  frontend/src/routes/+layout.svelte
Due: prettier, lint

NONAME-150 improved Number, Slider and List question types | fixed a bunch of things
  frontend/src/app.css
  frontend/src/lib/components/Content.svelte
  frontend/src/lib/components/Footer.svelte
  frontend/src/lib/components/create-page/Number.svelte
  frontend/src/lib/components/create-page/Slider.svelte
  frontend/src/lib/components/create-page/preview/NumberPreview.svelte
  frontend/src/lib/components/create-page/preview/SliderPreview.svelte
  frontend/src/lib/components/drafts-page/DraftsTable.svelte
  frontend/src/lib/components/fill-page/List.svelte
  frontend/src/lib/components/fill-page/Number.svelte
  frontend/src/lib/components/fill-page/Slider.svelte
  frontend/src/lib/components/fill-page/SurveyForm.svelte
  frontend/src/lib/components/summary-page/answer/Number.svelte
  frontend/src/lib/components/summary-page/answer/Slider.svelte
  frontend/src/routes/fill/+page.svelte
Due: prettier, lint

added i18n to account page
  frontend/src/app.css
  frontend/src/lib/components/NavBar.svelte
  frontend/src/lib/components/account-page/DownloadKey.svelte
  frontend/src/lib/components/account-page/SignIn.svelte
  frontend/src/lib/components/account-page/SignOut.svelte
  frontend/src/lib/translations.ts
  frontend/src/routes/+error.svelte
  frontend/src/routes/account/+page.svelte
Due: prettier, lint

added better translations handling for string only
  frontend/src/app.css
  frontend/src/lib/components/account-page/DownloadKey.svelte
Due: prettier, lint

added better translations handling for string only
  frontend/src/lib/translations.ts
Due: prettier, lint

NONAME-150 small adjustment
  frontend/src/lib/components/create-page/Number.svelte
  frontend/src/lib/components/create-page/QuestionTitle.svelte
  frontend/src/lib/components/create-page/Text.svelte
Due: prettier, lint

NONAME-150 small adjustment
  frontend/src/app.css
Due: prettier, lint

NONAME-169 signature is now generated on actual answer
  backend/src/api/routes/answers.py
  frontend/src/lib/components/fill-page/SurveyForm.svelte
Due: codespell, isort, pyupgrade, yesqa, black, ruff, prettier, lint

NONAME-152 minor improvements
  frontend/src/app.css
  frontend/src/lib/components/MultiSelect.svelte
  frontend/src/lib/components/UsersTable.svelte
  frontend/src/lib/components/account-page/DownloadKey.svelte
  frontend/src/lib/components/account-page/SignIn.svelte
  frontend/src/lib/components/create-page/SurveyTitle.svelte
  frontend/src/lib/components/drafts-page/DraftsTable.svelte
  frontend/src/lib/components/groups-page/GroupsTable.svelte
  frontend/src/lib/components/summary-page/RespondentList.svelte
  frontend/src/lib/components/summary-page/access/AccessTable.svelte
  frontend/src/routes/[code]/summary/access/+page.svelte
  frontend/src/routes/drafts/+page.svelte
  frontend/src/routes/groups/[group]/+page.svelte
Due: prettier, lint

NONAME-152 removing group members is now possible
  frontend/src/app.css
  frontend/src/lib/components/UsersTable.svelte
  frontend/src/lib/components/groups-page/AddGroupButtons.svelte
  frontend/src/lib/components/groups-page/group/MembersTable.svelte
  frontend/src/lib/components/summary-page/RespondentList.svelte
  frontend/src/lib/components/summary-page/RespondentsTable.svelte
  frontend/src/routes/[code]/summary/+page.svelte
  frontend/src/routes/groups/[group]/+page.svelte
Due: prettier, lint

NONAME-152 normalized fetching across the app
  frontend/src/lib/components/create-page/FooterButtons.svelte
  frontend/src/lib/components/create-page/SurveyForm.svelte
  frontend/src/lib/components/drafts-page/DraftsTable.svelte
  frontend/src/lib/components/fill-page/SurveyForm.svelte
  frontend/src/lib/components/groups-page/AddGroupButtons.svelte
  frontend/src/lib/components/groups-page/GroupsTable.svelte
  frontend/src/lib/components/summary-page/access/AccessTable.svelte
  frontend/src/lib/components/summary-page/access/AddUserButtons.svelte
  frontend/src/lib/components/surveys-page/SurveysTable.svelte
  frontend/src/routes/account/+page.svelte
  frontend/src/routes/drafts/+page.svelte
  frontend/src/routes/surveys/+page.svelte
Due: prettier, lint

NONAME-152 adding group members is now possible
  frontend/src/lib/components/groups-page/MembersError.svelte
  frontend/src/lib/components/groups-page/group/MembersButtons.svelte
  frontend/src/lib/components/groups-page/group/MembersTable.svelte
  frontend/src/lib/components/summary-page/access/AddUserButtons.svelte
  frontend/src/routes/groups/[group]/+page.svelte
Due: prettier, lint

NONAME-172 added draft/group limits | improved deleting groups
  backend/src/api/routes/surveys.py
  frontend/src/app.css
  frontend/src/lib/components/groups-page/GroupButtons.svelte
  frontend/src/lib/components/groups-page/GroupsTable.svelte
  frontend/src/lib/components/groups-page/MembersError.svelte
  frontend/src/lib/components/groups-page/NameError.svelte
  frontend/src/lib/components/groups-page/group/MembersButtons.svelte
  frontend/src/lib/stores/global.ts
  frontend/src/routes/drafts/+page.svelte
  frontend/src/routes/groups/+page.svelte
  frontend/src/routes/surveys/+page.svelte
Due: codespell, isort, pyupgrade, yesqa, black, ruff, prettier, lint

NONAME-172 allow slashes in group names
  backend/src/api/models/user_groups/user_groups.py
  frontend/src/lib/components/groups-page/GroupButtons.svelte
  frontend/src/lib/components/groups-page/GroupsTable.svelte
  frontend/src/lib/components/groups-page/NameError.svelte
  frontend/src/lib/components/groups-page/NameTableError.svelte
Due: codespell, isort, pyupgrade, yesqa, black, ruff, prettier, lint

NONAME-172 improved deleting surveys
  frontend/src/app.css
  frontend/src/lib/components/create-page/SurveyForm.svelte
  frontend/src/lib/components/groups-page/GroupButtons.svelte
  frontend/src/lib/components/groups-page/GroupsTable.svelte
  frontend/src/lib/components/groups-page/group/MembersButtons.svelte
  frontend/src/lib/components/groups-page/group/MembersTable.svelte
  frontend/src/lib/components/summary-page/access/AddUserButtons.svelte
  frontend/src/lib/components/surveys-page/SurveysTable.svelte
Due: prettier, lint

NONAME-172 improved deleting drafts
  frontend/src/lib/components/create-page/FooterButtons.svelte
  frontend/src/lib/components/create-page/SurveyForm.svelte
  frontend/src/lib/components/drafts-page/DraftsTable.svelte
  frontend/src/lib/components/groups-page/GroupButtons.svelte
  frontend/src/lib/components/groups-page/GroupsTable.svelte
  frontend/src/lib/components/groups-page/group/MembersButtons.svelte
  frontend/src/lib/components/groups-page/group/MembersTable.svelte
  frontend/src/lib/components/surveys-page/SurveysTable.svelte
  frontend/src/lib/stores/create-page.ts
  frontend/src/routes/create/+page.svelte
Due: prettier, lint

NONAME-172 improved taking access away | fixed Text question type having duplicate choices error!!!
  frontend/src/app.css
  frontend/src/lib/components/create-page/preview/TextPreview.svelte
  frontend/src/lib/components/drafts-page/DraftsTable.svelte
  frontend/src/lib/components/groups-page/GroupButtons.svelte
  frontend/src/lib/components/groups-page/group/MembersButtons.svelte
  frontend/src/lib/components/summary-page/access/AccessTable.svelte
  frontend/src/lib/components/summary-page/access/UserButtons.svelte
  frontend/src/lib/components/summary-page/access/UsersError.svelte
  frontend/src/lib/components/surveys-page/SurveysTable.svelte
  frontend/src/routes/[code]/summary/access/+page.svelte
Due: prettier, lint

NONAME-173 using gmp instead of built-in ints
  backend/poetry.lock
  backend/pyproject.toml
  backend/src/api/routes/answers.py
  backend/src/cryptography/ring_signature.py
Due: codespell, isort, pyupgrade, yesqa, black, ruff

working usos auth
  frontend/package-lock.json
  frontend/package.json
  frontend/src/auth.ts
  frontend/src/hooks.server.ts
  frontend/src/lib/components/account-page/SignIn.svelte
  frontend/src/lib/components/account-page/SignOut.svelte
  frontend/src/lib/oauth1.ts
  frontend/src/routes/+layout.server.ts
  frontend/src/routes/api/oauth/callback/+server.ts
  frontend/src/routes/api/oauth/request-token/+server.ts
  frontend/src/routes/api/oauth/sign-out/+server.ts
  frontend/src/routes/auth/redirect/+server.ts
  frontend/static/wmi.png
  frontend/wasm/Cargo.lock
Due: prettier, lint

readme update
  README.md
Due: none

usos api base url added to envs
  frontend/src/auth.ts
  frontend/src/lib/components/account-page/SignIn.svelte
  frontend/src/lib/components/account-page/SignOut.svelte
  frontend/src/routes/api/oauth/callback/+server.ts
  frontend/src/routes/api/oauth/request-token/+server.ts
  frontend/src/routes/api/oauth/sign-out/+server.ts
  frontend/src/routes/auth/redirect/+server.ts
Due: prettier, lint

removed comment
  frontend/src/lib/oauth1.ts
Due: prettier, lint

logo changed
  frontend/src/lib/assets/uam_color.svg
  frontend/src/lib/assets/uam_color_neg.svg
  frontend/static/wmi.png
Due: prettier, lint

removed unused code
  frontend/src/auth.ts
  frontend/src/hooks.server.ts
  frontend/src/lib/components/account-page/SignIn.svelte
  frontend/src/lib/components/account-page/SignOut.svelte
Due: prettier, lint

added demo folder with oauth2.0 example
  frontend/.dockerignore
  frontend/demo/oauth2.0.md
Due: prettier, lint

amu instead of uam
  frontend/src/lib/components/account-page/SignIn.svelte
Due: prettier, lint

NONAME-173 update imports
  backend/src/api/routes/answers.py
  backend/src/cryptography/ring_signature.py
Due: codespell, isort, pyupgrade, yesqa, black, ruff

Update oauth2.0.md
  frontend/demo/oauth2.0.md
Due: prettier, lint

NONAME-174 some minor improvements
  backend/Dockerfile
  frontend/demo/oauth2.0.md
  frontend/src/app.css
  frontend/src/lib/assets/amu.png
  frontend/src/lib/assets/uam_color.svg
  frontend/src/lib/assets/uam_color_neg.svg
  frontend/src/lib/components/account-page/SignIn.svelte
  frontend/src/lib/components/create-page/SelectGroup.svelte
  frontend/src/lib/components/create-page/SelectUsers.svelte
  frontend/src/lib/components/drafts-page/DraftsTable.svelte
  frontend/src/lib/components/groups-page/GroupButtons.svelte
  frontend/src/lib/components/groups-page/group/MembersButtons.svelte
  frontend/src/lib/components/summary-page/access/UserButtons.svelte
  frontend/src/lib/components/surveys-page/SurveysTable.svelte
Due: isort, pyupgrade, yesqa, black, ruff, prettier, lint

NONAME-167 Change db types of possibly long strings to TEXT
  backend/src/db/models/answer.py
  backend/src/db/models/survey_draft.py
Due: codespell, isort, pyupgrade, yesqa, black, ruff

delete obsolete field from the survey table
  backend/src/db/models/survey.py
Due: codespell, isort, pyupgrade, yesqa, black, ruff

NONAME-176 Implement endpoints for filtering users
  backend/src/api/models/users/user.py
  backend/src/api/routes/users.py
  backend/src/db/crud/user.py
Due: codespell, isort, pyupgrade, yesqa, black, ruff

NONAME-171 replaced alerts with error modals
  frontend/src/lib/components/ErrorModal.svelte
  frontend/src/lib/components/Modal.svelte
  frontend/src/lib/components/QrCodeModal.svelte
  frontend/src/lib/components/create-page/FooterButtons.svelte
  frontend/src/lib/components/create-page/SurveyForm.svelte
  frontend/src/lib/components/drafts-page/DraftsTable.svelte
  frontend/src/lib/components/fill-page/SurveyForm.svelte
  frontend/src/lib/components/groups-page/GroupButtons.svelte
  frontend/src/lib/components/groups-page/GroupsTable.svelte
  frontend/src/lib/components/groups-page/group/MembersButtons.svelte
  frontend/src/lib/components/summary-page/access/UserButtons.svelte
  frontend/src/lib/components/surveys-page/SurveysTable.svelte
  frontend/src/lib/stores/global.ts
  frontend/src/lib/utils/copy.ts
  frontend/src/routes/+layout.svelte
  frontend/src/routes/account/+page.svelte
Due: prettier, lint
