Repository sjerzykiewicz/NoName-Surveys: changes, and which pre-commit hooks are due for each by the changed paths.
All: codespell, isort, pyupgrade, yesqa, black, ruff, prettier, lint

codespell:
  name: codespell
  entry: bash -c 'cd backend && make codespell'
  language: system

isort:
  name: isort
  entry: bash -c 'cd backend && make isort'
  language: system

pyupgrade:
  name: pyupgrade
  entry: bash -c 'cd backend && make pyupgrade'
  language: system

yesqa:
  name: yesqa
  entry: bash -c 'cd backend && make yesqa'
  language: system

black:
  name: black
  entry: bash -c 'cd backend && make black'
  language: system

ruff:
  name: ruff
  entry: bash -c 'cd backend && make ruff'
  language: system

prettier:
  name: prettier
  entry: npm run format
  args:
  - --prefix
  - frontend
  language: system
  pass_filenames: false

lint:
  name: lint
  entry: npm run lint
  args:
  - --prefix
  - frontend
  language: system
  pass_filenames: false

NONAME-161 shortened code info
  frontend/src/lib/translations.ts
Due: prettier, lint

NONAME-161 more translations during survey creation
  frontend/src/lib/components/create-page/FooterButtons.svelte
  frontend/src/lib/components/create-page/SurveyForm.svelte
  frontend/src/lib/components/global/ImportEmails.svelte
  frontend/src/lib/components/global/QrCodeModal.svelte
  frontend/src/lib/translations.ts
  frontend/src/routes/create/+page.svelte
  frontend/src/routes/drafts/[draftsPage]/+page.svelte
Due: prettier, lint

revert
  frontend/src/lib/components/create-page/FooterButtons.svelte
  frontend/src/lib/components/create-page/SurveyForm.svelte
  frontend/src/lib/components/global/ImportEmails.svelte
  frontend/src/lib/components/global/QrCodeModal.svelte
  frontend/src/lib/translations.ts
  frontend/src/routes/create/+page.svelte
  frontend/src/routes/drafts/[draftsPage]/+page.svelte
Due: prettier, lint

NONAME-161 new translations in modals
  frontend/src/lib/components/create-page/FooterButtons.svelte
  frontend/src/lib/components/create-page/SurveyForm.svelte
  frontend/src/lib/components/global/ImportEmails.svelte
  frontend/src/lib/components/global/QrCodeModal.svelte
  frontend/src/lib/translations.ts
  frontend/src/routes/create/+page.svelte
Due: prettier, lint

NONAME-161 translations for drafts page
  frontend/src/lib/components/drafts-page/DraftsButtons.svelte
  frontend/src/lib/components/drafts-page/DraftsTable.svelte
  frontend/src/lib/translations.ts
  frontend/src/routes/drafts/[draftsPage]/+page.svelte
Due: prettier, lint

fix typos
  frontend/src/lib/translations.ts
Due: prettier, lint

NONAME-161 fill page translations
  frontend/src/lib/components/fill-page/AnswerError.svelte
  frontend/src/lib/components/fill-page/KeysError.svelte
  frontend/src/lib/components/fill-page/SurveyForm.svelte
  frontend/src/lib/translations.ts
Due: prettier, lint

NONAME-161 group page translations
  frontend/src/lib/components/groups-page/GroupsButtons.svelte
  frontend/src/lib/components/groups-page/GroupsTable.svelte
  frontend/src/lib/components/groups-page/MembersError.svelte
  frontend/src/lib/components/groups-page/NameError.svelte
  frontend/src/lib/stores/global.ts
  frontend/src/lib/translations.ts
  frontend/src/routes/groups/[groupsPage]/+page.svelte
Due: prettier, lint

restore char limit
  frontend/src/lib/stores/global.ts
Due: prettier, lint

NONAME-161 members table translations
  frontend/src/lib/components/groups-page/group/MembersButtons.svelte
  frontend/src/lib/components/groups-page/group/MembersTable.svelte
  frontend/src/lib/translations.ts
Due: prettier, lint

NONAME-161 survey page translation
  frontend/src/lib/components/surveys-page/SurveysButtons.svelte
  frontend/src/lib/components/surveys-page/SurveysTable.svelte
  frontend/src/lib/translations.ts
  frontend/src/routes/surveys/[surveysPage]/+page.svelte
Due: prettier, lint

NONAME-161 access table translation
  frontend/src/lib/components/summary-page/access/AccessTable.svelte
  frontend/src/lib/components/summary-page/access/UserButtons.svelte
  frontend/src/lib/components/summary-page/access/UsersError.svelte
  frontend/src/lib/translations.ts
Due: prettier, lint

NONAME-161 more translations for summary
  frontend/src/lib/components/summary-page/AnswersSummary.svelte
  frontend/src/lib/components/summary-page/answer/Answers.svelte
  frontend/src/lib/components/summary-page/answer/AnswersTable.svelte
  frontend/src/lib/components/summary-page/answer/Binary.svelte
  frontend/src/lib/components/summary-page/answer/List.svelte
  frontend/src/lib/components/summary-page/answer/Multi.svelte
  frontend/src/lib/components/summary-page/answer/Rank.svelte
  frontend/src/lib/components/summary-page/answer/Scale.svelte
  frontend/src/lib/components/summary-page/answer/Single.svelte
  frontend/src/lib/components/summary-page/answer/Text.svelte
  frontend/src/lib/translations.ts
Due: prettier, lint

NONAME-161 more translations
  frontend/src/lib/components/create-page/preview/ListPreview.svelte
  frontend/src/lib/components/create-page/preview/RankPreview.svelte
  frontend/src/lib/components/fill-page/List.svelte
  frontend/src/lib/components/fill-page/Rank.svelte
  frontend/src/lib/components/global/Back.svelte
  frontend/src/lib/components/global/EmailsWarning.svelte
  frontend/src/lib/components/summary-page/AnswersSummary.svelte
  frontend/src/lib/components/summary-page/RankSummary.svelte
  frontend/src/lib/components/summary-page/buttons/AnswersButton.svelte
  frontend/src/lib/components/summary-page/buttons/QrCodeButton.svelte
  frontend/src/lib/components/summary-page/buttons/RespondentsButton.svelte
  frontend/src/lib/components/summary-page/buttons/ShareButton.svelte
  frontend/src/lib/components/summary-page/buttons/SummaryButton.svelte
  frontend/src/lib/translations.ts
Due: prettier, lint

correct form
  frontend/src/lib/translations.ts
Due: prettier, lint

add colon
  frontend/src/lib/components/summary-page/AnswersSummary.svelte
Due: prettier, lint

NONAME-220 added missing field validator
  backend/src/api/models/base.py
Due: codespell, isort, pyupgrade, yesqa, black, ruff

NONAME-161 warning translations
  frontend/src/lib/components/global/LimitWarning.svelte
  frontend/src/lib/components/global/WarningModal.svelte
  frontend/src/lib/translations.ts
  frontend/src/routes/drafts/[draftsPage]/+page.svelte
  frontend/src/routes/groups/[groupsPage]/+page.svelte
  frontend/src/routes/surveys/[surveysPage]/+page.svelte
Due: prettier, lint

NONAME-161 small improvements
  frontend/src/lib/components/global/ImportEmails.svelte
  frontend/src/lib/components/global/LimitWarning.svelte
  frontend/src/lib/translations.ts
Due: prettier, lint

parametrized some redundant translations
  frontend/src/lib/components/create-page/FooterButtons.svelte
  frontend/src/lib/components/create-page/SurveyForm.svelte
  frontend/src/lib/translations.ts
  frontend/src/routes/create/+page.svelte
Due: prettier, lint

translate and
  frontend/src/lib/translations.ts
  frontend/src/routes/create/+page.svelte
Due: prettier, lint

NONAME-161 updated titles
  frontend/src/lib/components/create-page/Scale.svelte
  frontend/src/lib/components/create-page/preview/QuestionTitlePreview.svelte
  frontend/src/lib/components/create-page/preview/RankPreview.svelte
  frontend/src/lib/components/create-page/preview/TextPreview.svelte
  frontend/src/lib/components/drafts-page/DraftsButtons.svelte
  frontend/src/lib/components/drafts-page/DraftsTable.svelte
  frontend/src/lib/components/fill-page/QuestionTitle.svelte
  frontend/src/lib/components/fill-page/Rank.svelte
  frontend/src/lib/components/fill-page/SurveyForm.svelte
  frontend/src/lib/components/fill-page/Text.svelte
  frontend/src/lib/components/global/Back.svelte
  frontend/src/lib/components/global/NavBar.svelte
  frontend/src/lib/components/global/PageButtons.svelte
  frontend/src/lib/components/global/QrCodeModal.svelte
  frontend/src/lib/components/groups-page/GroupsButtons.svelte
  frontend/src/lib/components/groups-page/GroupsTable.svelte
  frontend/src/lib/components/groups-page/group/MembersTable.svelte
  frontend/src/lib/components/summary-page/QuestionTitle.svelte
  frontend/src/lib/components/summary-page/TextSummary.svelte
  frontend/src/lib/components/summary-page/access/AccessTable.svelte
  frontend/src/lib/components/summary-page/access/UserButtons.svelte
  frontend/src/lib/components/summary-page/answer/Answers.svelte
  frontend/src/lib/components/summary-page/buttons/AnswersButton.svelte
  frontend/src/lib/components/summary-page/buttons/QrCodeButton.svelte
  frontend/src/lib/components/summary-page/buttons/RespondentsButton.svelte
  frontend/src/lib/components/summary-page/buttons/ShareButton.svelte
  frontend/src/lib/components/summary-page/buttons/SummaryButton.svelte
  frontend/src/lib/components/surveys-page/SurveysButtons.svelte
  frontend/src/lib/components/surveys-page/SurveysTable.svelte
  frontend/src/lib/translations.ts
  frontend/src/routes/groups/[groupsPage]/[group]/[groupPage]/+page.svelte
  frontend/src/routes/surveys/[surveysPage]/[code]/answers/[answersPage]/[answer]/+page.svelte
Due: prettier, lint

NONAME-161 updated labels
  frontend/src/lib/components/create-page/preview/TextPreview.svelte
  frontend/src/lib/components/fill-page/Text.svelte
  frontend/src/lib/components/groups-page/GroupsButtons.svelte
  frontend/src/lib/components/groups-page/GroupsTable.svelte
Due: prettier, lint

NONAME-223 allow for rejecting survey access
  backend/src/api/routes/surveys.py
  backend/src/db/crud/survey.py
  backend/tests/api/routes/test_surveys.py
Due: codespell, isort, pyupgrade, yesqa, black, ruff

NONAME-223 rejecting access to surveys is now possible
  frontend/src/lib/components/surveys-page/SurveysButtons.svelte
  frontend/src/lib/components/surveys-page/SurveysTable.svelte
  frontend/src/lib/server/database.ts
  frontend/src/routes/api/surveys/reject-access/+server.ts
  frontend/src/routes/surveys/[surveysPage]/+page.svelte
Due: prettier, lint

NONAME-223 fixed issues with errors and input
  frontend/src/lib/components/create-page/AddQuestionButtons.svelte
  frontend/src/lib/components/create-page/FooterButtons.svelte
  frontend/src/lib/components/global/Input.svelte
  frontend/src/lib/components/global/NavBar.svelte
  frontend/src/lib/utils/checkQuestionError.ts
Due: prettier, lint

NONAME-138 added more hotkeys and better functionality
  frontend/src/lib/components/create-page/AddQuestionButtons.svelte
  frontend/src/lib/components/create-page/Binary.svelte
  frontend/src/lib/components/create-page/FooterButtons.svelte
  frontend/src/lib/components/create-page/List.svelte
  frontend/src/lib/components/create-page/Multi.svelte
  frontend/src/lib/components/create-page/Number.svelte
  frontend/src/lib/components/create-page/QuestionTitle.svelte
  frontend/src/lib/components/create-page/Rank.svelte
  frontend/src/lib/components/create-page/Scale.svelte
  frontend/src/lib/components/create-page/Single.svelte
  frontend/src/lib/components/create-page/Slider.svelte
  frontend/src/lib/components/create-page/SurveyForm.svelte
  frontend/src/lib/components/create-page/SurveyTitle.svelte
  frontend/src/lib/components/create-page/Text.svelte
  frontend/src/lib/components/global/Input.svelte
  frontend/src/lib/stores/create-page.ts
  frontend/src/lib/utils/setQuestionFocus.ts
Due: prettier, lint

NONAME-221 added info about last key update
  backend/src/api/routes/users.py
  backend/src/db/crud/user.py
  backend/src/db/models/user.py
  frontend/src/lib/components/account-page/DownloadKey.svelte
  frontend/src/lib/components/drafts-page/DraftsTable.svelte
  frontend/src/lib/server/database.ts
  frontend/src/lib/translations.ts
  frontend/src/lib/utils/formatDate.ts
  frontend/src/routes/account/+page.server.ts
  frontend/src/routes/account/+page.svelte
  frontend/src/routes/api/users/key-creation-date/+server.ts
Due: codespell, isort, pyupgrade, yesqa, black, ruff, prettier, lint

NONAME-138 added a tooltip about hotkeys
  frontend/src/app.css
  frontend/src/lib/components/create-page/AddQuestionButtons.svelte
  frontend/src/lib/components/create-page/SurveyForm.svelte
  frontend/src/lib/translations.ts
  frontend/src/lib/utils/scrollToElement.ts
Due: prettier, lint

now cookies are deleted when session ends
  frontend/src/hooks.server.ts
  frontend/src/routes/api/oauth/user/+server.ts
Due: prettier, lint

added bearer token
  backend/src/main.py
  frontend/src/lib/server/database.ts
Due: codespell, isort, pyupgrade, yesqa, black, ruff, prettier, lint

openapi title and desc changed
  backend/src/main.py
Due: codespell, isort, pyupgrade, yesqa, black, ruff

add bearer token to ci
  .github/workflows/ci-cd-pipeline.yaml
Due: none

revert - add bearer token to ci
  .github/workflows/ci-cd-pipeline.yaml
Due: none

now test are working
  backend/src/main.py
  backend/tests/conftest.py
Due: codespell, isort, pyupgrade, yesqa, black, ruff

NONAME-226 added email import buttons when adding group members and sharing survey access | fixed group name bug
  frontend/src/lib/components/create-page/SurveyForm.svelte
  frontend/src/lib/components/fill-page/SurveyForm.svelte
  frontend/src/lib/components/global/ImportEmails.svelte
  frontend/src/lib/components/groups-page/GroupsButtons.svelte
  frontend/src/lib/components/groups-page/GroupsTable.svelte
  frontend/src/lib/components/groups-page/group/MembersButtons.svelte
  frontend/src/lib/components/summary-page/access/UserButtons.svelte
  frontend/src/lib/translations.ts
Due: prettier, lint

NONAME-227 improved multiselect components
  frontend/src/lib/components/create-page/CryptoError.svelte
  frontend/src/lib/components/create-page/SelectGroup.svelte
  frontend/src/lib/components/create-page/SelectUsers.svelte
  frontend/src/lib/components/create-page/SurveyForm.svelte
  frontend/src/lib/components/global/MultiSelect.svelte
  frontend/src/lib/stores/create-page.ts
  frontend/src/lib/translations.ts
  frontend/src/routes/create/+page.svelte
Due: prettier, lint

Path conditions:
  codespell: any of: ^backend/ and \.py$, \.rst$, \.(md|markdown|mdown)$ and not (.git|.tox)
  isort: any of: ^backend/, but not: .git|.tox
  pyupgrade: any of: ^backend/, but not: .git|.tox
  yesqa: any of: ^backend/, but not: .git|.tox
  black: any of: ^backend/, but not: .git|.tox
  ruff: any of: ^backend/, but not: .git|.tox
  prettier: any of: ^frontend/, but not: .git|.tox
  lint: any of: ^frontend/, but not: .git|.tox
