Repository sjerzykiewicz/NoName-Surveys: changes, and which pre-commit hooks are due for each by the changed paths.
All: codespell, isort, pyupgrade, yesqa, black, ruff, prettier, lint

codespell:
  name: codespell
  entry: bash -c 'cd backend && make codespell'
  language: system

isort:
  name: isort
  entry: bash -c 'cd backend && make isort'
  language: system

pyupgrade:
  name: pyupgrade
  entry: bash -c 'cd backend && make pyupgrade'
  language: system

yesqa:
  name: yesqa
  entry: bash -c 'cd backend && make yesqa'
  language: system

black:
  name: black
  entry: bash -c 'cd backend && make black'
  language: system

ruff:
  name: ruff
  entry: bash -c 'cd backend && make ruff'
  language: system

prettier:
  name: prettier
  entry: npm run format
  args:
  - --prefix
  - frontend
  language: system
  pass_filenames: false

lint:
  name: lint
  entry: npm run lint
  args:
  - --prefix
  - frontend
  language: system
  pass_filenames: false

fix test
  .github/workflows/ci-cd-pipeline.yaml
  frontend/tests/rootpage.test.ts
Due: prettier, lint

fix tests
  .github/workflows/ci-cd-pipeline.yaml
Due: none

NONAME-263 fixed a tooltip
  frontend/src/lib/components/global/ImportEmails.svelte
  frontend/src/lib/translations.ts
Due: prettier, lint

added more frontend e2e tests
  .github/workflows/ci-cd-pipeline.yaml
  backend/scripts/test_data.sh
  frontend/tests/rootpage.test.ts
Due: isort, pyupgrade, yesqa, black, ruff, prettier, lint

added tests results as artifacts
  .github/workflows/ci-cd-pipeline.yaml
  .gitignore
  backend/Makefile
  backend/poetry.lock
  backend/pyproject.toml
  frontend/playwright.config.ts
  frontend/tests/rootpage.test.ts
Due: isort, pyupgrade, yesqa, black, ruff, prettier, lint

fix test path
  .github/workflows/ci-cd-pipeline.yaml
Due: none

fix playwright run
  .github/workflows/ci-cd-pipeline.yaml
Due: none

sleep to ensure backend received requests
  .github/workflows/ci-cd-pipeline.yaml
Due: none

added rust tests to frontend test pipeline
  .github/workflows/ci-cd-pipeline.yaml
Due: none

perfo change
  frontend/src/routes/create/+page.server.ts
  frontend/src/routes/drafts/[draftsPage]/+page.server.ts
  frontend/src/routes/groups/[groupsPage]/+layout.server.ts
  frontend/src/routes/groups/[groupsPage]/[group]/[groupPage]/+page.server.ts
  frontend/src/routes/surveys/[surveysPage]/+layout.server.ts
  frontend/src/routes/surveys/[surveysPage]/[code]/+layout.server.ts
  frontend/src/routes/surveys/[surveysPage]/[code]/access/[accessPage]/+page.server.ts
  frontend/src/routes/surveys/[surveysPage]/[code]/respondents/[respondentsPage]/+page.server.ts
Due: prettier, lint

fix
  frontend/src/lib/components/groups-page/GroupsTable.svelte
  frontend/src/routes/groups/[groupsPage]/+layout.server.ts
  frontend/src/routes/surveys/[surveysPage]/[code]/+layout.server.ts
  frontend/src/routes/surveys/[surveysPage]/[code]/access/[accessPage]/+page.server.ts
Due: prettier, lint

fix
  frontend/src/routes/surveys/[surveysPage]/[code]/+layout.server.ts
Due: prettier, lint

Revert "perfo upgrade"
  frontend/src/lib/components/groups-page/GroupsTable.svelte
  frontend/src/routes/create/+page.server.ts
  frontend/src/routes/drafts/[draftsPage]/+page.server.ts
  frontend/src/routes/groups/[groupsPage]/+layout.server.ts
  frontend/src/routes/groups/[groupsPage]/[group]/[groupPage]/+page.server.ts
  frontend/src/routes/surveys/[surveysPage]/+layout.server.ts
  frontend/src/routes/surveys/[surveysPage]/[code]/+layout.server.ts
  frontend/src/routes/surveys/[surveysPage]/[code]/access/[accessPage]/+page.server.ts
  frontend/src/routes/surveys/[surveysPage]/[code]/respondents/[respondentsPage]/+page.server.ts
Due: prettier, lint

fix test running on correct target
  frontend/wasm/src/lib.rs
Due: prettier, lint

added retries
  frontend/src/routes/create/+page.server.ts
  frontend/src/routes/drafts/[draftsPage]/+page.server.ts
  frontend/src/routes/groups/[groupsPage]/+layout.server.ts
  frontend/src/routes/groups/[groupsPage]/[group]/[groupPage]/+page.server.ts
  frontend/src/routes/surveys/[surveysPage]/+layout.server.ts
  frontend/src/routes/surveys/[surveysPage]/[code]/+layout.server.ts
  frontend/src/routes/surveys/[surveysPage]/[code]/access/[accessPage]/+page.server.ts
  frontend/src/routes/surveys/[surveysPage]/[code]/respondents/[respondentsPage]/+page.server.ts
Due: prettier, lint

updated actions versions
  .github/workflows/ci-cd-pipeline.yaml
Due: none

removed unused fragment
  .github/workflows/ci-cd-pipeline.yaml
Due: none

fixed shadow
  frontend/src/app.css
Due: prettier, lint

alignment fix
  frontend/src/lib/components/account-page/DownloadKey.svelte
  frontend/src/lib/components/account-page/SignIn.svelte
Due: prettier, lint

getEmail timeout set to 11s
  frontend/src/routes/api/oauth/user/+server.ts
Due: prettier, lint

Revert "Noname 261 pipeline improvements"
  .github/workflows/ci-cd-pipeline.yaml
  frontend/src/routes/api/oauth/user/+server.ts
Due: prettier, lint

ci-cd
  .github/workflows/ci-cd-pipeline.yaml
Due: none

added combined api endpoints for less usos requests & better errors msgs
  frontend/src/lib/utils/getEmail.ts
  frontend/src/routes/+error.svelte
  frontend/src/routes/api/combined/groups_users/+server.ts
  frontend/src/routes/api/combined/groups_users_drafts_surveys/+server.ts
  frontend/src/routes/api/combined/surveys_access/+server.ts
  frontend/src/routes/api/oauth/user/+server.ts
  frontend/src/routes/create/+page.server.ts
  frontend/src/routes/drafts/[draftsPage]/+page.server.ts
  frontend/src/routes/groups/[groupsPage]/+layout.server.ts
  frontend/src/routes/groups/[groupsPage]/[group]/[groupPage]/+page.server.ts
  frontend/src/routes/surveys/[surveysPage]/+layout.server.ts
  frontend/src/routes/surveys/[surveysPage]/[code]/+layout.server.ts
  frontend/src/routes/surveys/[surveysPage]/[code]/access/[accessPage]/+page.server.ts
  frontend/src/routes/surveys/[surveysPage]/[code]/respondents/[respondentsPage]/+page.server.ts
Due: prettier, lint

NONAME-266: Added changes to the README requested by JM
  README.md
Due: none

NONAME-266: Extended developer documentation on backend
  backend/README.md
Due: codespell, isort, pyupgrade, yesqa, black, ruff

small adjustment
  backend/README.md
Due: codespell, isort, pyupgrade, yesqa, black, ruff

added more combined api endpoints & removed unneeded getEmail funcs
  frontend/src/lib/utils/getEmail.ts
  frontend/src/routes/api/combined/create/+server.ts
  frontend/src/routes/api/combined/drafts/+server.ts
  frontend/src/routes/api/combined/members/+server.ts
  frontend/src/routes/api/combined/surveys/+server.ts
  frontend/src/routes/api/combined/surveys_access/+server.ts
  frontend/src/routes/api/combined/surveys_answers/+server.ts
  frontend/src/routes/api/surveys/respondents/all/+server.ts
  frontend/src/routes/api/surveys/respondents/count/+server.ts
  frontend/src/routes/api/users/all-with-public-keys/+server.ts
  frontend/src/routes/api/users/all/+server.ts
  frontend/src/routes/api/users/filter-unregistered-users/+server.ts
  frontend/src/routes/api/users/filter-users-with-no-public-key/+server.ts
  frontend/src/routes/create/+page.server.ts
  frontend/src/routes/drafts/[draftsPage]/+page.server.ts
  frontend/src/routes/groups/[groupsPage]/[group]/[groupPage]/+page.server.ts
  frontend/src/routes/surveys/[surveysPage]/+layout.server.ts
  frontend/src/routes/surveys/[surveysPage]/[code]/+layout.server.ts
  frontend/src/routes/surveys/[surveysPage]/[code]/respondents/[respondentsPage]/+page.server.ts
Due: prettier, lint

poetry install no root
  .github/workflows/ci-cd-pipeline.yaml
Due: none

frontend docs update
  frontend/README.md
Due: prettier, lint

revert getEmail check
  frontend/README.md
  frontend/src/routes/api/surveys/respondents/all/+server.ts
  frontend/src/routes/api/surveys/respondents/count/+server.ts
  frontend/src/routes/api/users/all-with-public-keys/+server.ts
  frontend/src/routes/api/users/all/+server.ts
  frontend/src/routes/api/users/filter-unregistered-users/+server.ts
  frontend/src/routes/api/users/filter-users-with-no-public-key/+server.ts
Due: prettier, lint

do not deploy from dev
  .github/workflows/ci-cd-pipeline.yaml
Due: none

surveys fix
  frontend/src/routes/surveys/[surveysPage]/[code]/+layout.server.ts
Due: prettier, lint

deploy from dev
  .github/workflows/ci-cd-pipeline.yaml
Due: none

groups & rank question fix
  frontend/src/lib/components/fill-page/Rank.svelte
  frontend/src/routes/groups/[groupsPage]/[group]/[groupPage]/+page.server.ts
Due: prettier, lint

surveys_access fix
  frontend/src/routes/api/combined/surveys_access/+server.ts
Due: prettier, lint

deploy only from main
  .github/workflows/ci-cd-pipeline.yaml
Due: none

Path conditions:
  codespell: any of: ^backend/ and \.py$, \.rst$, \.(md|markdown|mdown)$ and not (.git|.tox)
  isort: any of: ^backend/, but not: .git|.tox
  pyupgrade: any of: ^backend/, but not: .git|.tox
  yesqa: any of: ^backend/, but not: .git|.tox
  black: any of: ^backend/, but not: .git|.tox
  ruff: any of: ^backend/, but not: .git|.tox
  prettier: any of: ^frontend/, but not: .git|.tox
  lint: any of: ^frontend/, but not: .git|.tox
