Repository sjerzykiewicz/NoName-Surveys: changes, and which pre-commit hooks are due for each by the changed paths.
All: codespell, isort, pyupgrade, yesqa, black, ruff, prettier, lint

.pre-commit-config.yaml:

exclude: '.git|.tox'
default_stages: [commit]
fail_fast: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-json
      - id: check-merge-conflict
      - id: check-toml
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: codespell
        name: codespell
        entry: bash -c 'cd backend && make codespell'
        language: system
        types_or: [python, rst, markdown]
        files: ^backend/

      - id: isort
        name: isort
        entry: bash -c 'cd backend && make isort'
        language: system
        files: ^backend/

      - id: pyupgrade
        name: pyupgrade
        entry: bash -c 'cd backend && make pyupgrade'
        language: system
        files: ^backend/

      - id: yesqa
        name: yesqa
        entry: bash -c 'cd backend && make yesqa'
        language: system
        files: ^backend/

      - id: black
        name: black
        entry: bash -c 'cd backend && make black'
        language: system
        files: ^backend/

      - id: ruff
        name: ruff
        entry: bash -c 'cd backend && make ruff'
        language: system
        files: ^backend/

      - id: prettier
        name: prettier
        entry: npm run format
        args: ['--prefix', 'frontend']
        language: system
        files: ^frontend/
        pass_filenames: false

      - id: lint
        name: lint
        entry: npm run lint
        args: ['--prefix', 'frontend']
        language: system
        files: ^frontend/
        pass_filenames: false

      - id: rustfmt
        name: rustfmt
        entry: bash -c 'cd frontend/wasm && cargo fmt'
        language: system
        pass_filenames: false

NONAME-193 share more info about public keys in user groups
  backend/src/api/models/user_groups/user_groups.py
  backend/src/api/routes/user_groups.py
  backend/src/db/crud/user.py
Due: codespell, isort, pyupgrade, yesqa, black, ruff

NONAME-188 added icons to groups and group members
  frontend/src/lib/components/groups-page/group/MembersButtons.svelte
  frontend/src/lib/components/groups-page/group/MembersTable.svelte
  frontend/src/routes/groups/+layout.server.ts
  frontend/src/routes/groups/[group]/+page.server.ts
  frontend/src/routes/groups/[group]/+page.svelte
Due: prettier, lint

now backend interactions uses tokens to get email
  frontend/src/routes/api/groups/all/+server.ts
  frontend/src/routes/api/groups/create/+server.ts
  frontend/src/routes/api/groups/delete/+server.ts
  frontend/src/routes/api/groups/fetch/+server.ts
  frontend/src/routes/api/groups/rename/+server.ts
  frontend/src/routes/api/oauth/callback/+server.ts
  frontend/src/routes/api/oauth/sign-out/+server.ts
  frontend/src/routes/api/oauth/user/+server.ts
  frontend/src/routes/api/surveys/create/+server.ts
  frontend/src/routes/api/surveys/delete/+server.ts
  frontend/src/routes/api/surveys/drafts/all/+server.ts
  frontend/src/routes/api/surveys/drafts/create/+server.ts
  frontend/src/routes/api/surveys/drafts/delete/+server.ts
  frontend/src/routes/api/surveys/drafts/fetch/+server.ts
  frontend/src/routes/api/surveys/give-access/+server.ts
  frontend/src/routes/api/surveys/take-away-access/+server.ts
  frontend/src/routes/api/users/update-public-key/+server.ts
Due: prettier, lint

NONAME-188 added missing types to variables
  frontend/src/lib/components/fill-page/SurveyForm.svelte
  frontend/src/lib/components/global/Content.svelte
  frontend/src/lib/components/summary-page/AnswersSummary.svelte
  frontend/src/lib/entities/surveys/SummaryEntry.ts
  frontend/src/lib/entities/surveys/SurveyAnswer.ts
  frontend/src/lib/entities/surveys/SurveySummary.ts
  frontend/src/lib/server/database.ts
  frontend/src/routes/+layout.server.ts
  frontend/src/routes/+page.server.ts
  frontend/src/routes/[code]/summary/+layout.server.ts
  frontend/src/routes/[code]/summary/+page.svelte
  frontend/src/routes/[code]/summary/[id]/+page.svelte
  frontend/src/routes/[code]/summary/[id]/+page.ts
  frontend/src/routes/[code]/summary/access/+page.server.ts
  frontend/src/routes/[code]/summary/access/+page.svelte
  frontend/src/routes/account/+page.svelte
  frontend/src/routes/api/surveys/fill/+server.ts
  frontend/src/routes/create/+page.server.ts
  frontend/src/routes/drafts/+page.server.ts
  frontend/src/routes/fill/+page.server.ts
  frontend/src/routes/fill/+page.svelte
  frontend/src/routes/groups/+layout.server.ts
  frontend/src/routes/surveys/+page.server.ts
Due: prettier, lint

NONAME-188 optimized filtering in a few places
  frontend/src/lib/components/fill-page/AnswerError.svelte
  frontend/src/lib/components/fill-page/SurveyForm.svelte
  frontend/src/lib/components/global/ImportEmails.svelte
  frontend/src/lib/components/groups-page/group/MembersButtons.svelte
  frontend/src/lib/components/summary-page/access/UserButtons.svelte
  frontend/src/routes/[code]/summary/access/+page.svelte
  frontend/src/routes/groups/[group]/+page.svelte
Due: prettier, lint

NONAME-188 add icons to groups and group members WIP
  frontend/src/lib/components/groups-page/GroupButtons.svelte
  frontend/src/lib/components/groups-page/GroupsTable.svelte
  frontend/src/lib/components/groups-page/group/MembersTable.svelte
  frontend/src/routes/api/users/has-public-key/+server.ts
Due: prettier, lint

NONAME-195 move survey title outside of it's structure and also add small changes
  backend/src/api/models/surveys/survey.py
  backend/src/api/models/surveys/survey_draft.py
  backend/src/api/routes/answers.py
  backend/src/api/routes/survey_drafts.py
  backend/src/api/routes/surveys.py
  backend/src/api/routes/user_groups.py
  backend/src/api/routes/users.py
  backend/src/db/crud/answer.py
  backend/src/db/crud/ring_member.py
  backend/src/db/crud/survey.py
  backend/src/db/crud/survey_draft.py
  backend/src/db/crud/user.py
  backend/src/db/crud/user_groups.py
  backend/src/db/models/survey_draft.py
Due: codespell, isort, pyupgrade, yesqa, black, ruff

small fix
  backend/src/api/routes/users.py
Due: codespell, isort, pyupgrade, yesqa, black, ruff

NONAME-168 added pagination to all requested endpoints
  backend/src/api/routes/survey_drafts.py
  backend/src/api/routes/surveys.py
  backend/src/api/routes/user_groups.py
  backend/src/api/routes/users.py
  backend/src/db/crud/ring_member.py
  backend/src/db/crud/survey.py
  backend/src/db/crud/survey_draft.py
  backend/src/db/crud/user_groups.py
Due: codespell, isort, pyupgrade, yesqa, black, ruff

fix typo 2
  backend/src/db/crud/ring_member.py
Due: codespell, isort, pyupgrade, yesqa, black, ruff

fix typo
  backend/src/api/routes/surveys.py
Due: codespell, isort, pyupgrade, yesqa, black, ruff

NONAME-168 merged dev
  backend/src/api/routes/user_groups.py
  backend/src/db/crud/user_groups.py
Due: codespell, isort, pyupgrade, yesqa, black, ruff

NONAME-196 adjusted frontend endpoints
  frontend/src/lib/components/create-page/FooterButtons.svelte
  frontend/src/lib/components/create-page/SurveyForm.svelte
  frontend/src/lib/components/fill-page/SurveyForm.svelte
  frontend/src/lib/components/summary-page/answer/Answers.svelte
  frontend/src/lib/entities/surveys/DraftCreateInfo.ts
  frontend/src/lib/entities/surveys/Survey.ts
  frontend/src/lib/entities/surveys/SurveyCreateInfo.ts
  frontend/src/routes/[code]/summary/+layout.server.ts
  frontend/src/routes/[code]/summary/+page.svelte
  frontend/src/routes/[code]/summary/[id]/+page.svelte
  frontend/src/routes/[code]/summary/access/+page.svelte
  frontend/src/routes/fill/+page.server.ts
  frontend/src/routes/fill/+page.svelte
Due: prettier, lint

NONAME-168 merge dev and small fixes
  backend/src/api/routes/surveys.py
  backend/src/api/routes/user_groups.py
  backend/src/db/crud/user_groups.py
Due: codespell, isort, pyupgrade, yesqa, black, ruff

NONAME-194 fixed error message again
  frontend/src/routes/+error.svelte
Due: prettier, lint

remove obsolete page input variable
  backend/src/api/routes/user_groups.py
Due: codespell, isort, pyupgrade, yesqa, black, ruff

small fix
  backend/src/api/routes/user_groups.py
Due: codespell, isort, pyupgrade, yesqa, black, ruff

NONAME-194 simple pagination WIP
  frontend/src/lib/components/global/NavBar.svelte
  frontend/src/lib/components/groups-page/GroupsTable.svelte
  frontend/src/lib/components/summary-page/AnswersSummary.svelte
  frontend/src/lib/components/summary-page/AnswersTable.svelte
  frontend/src/lib/components/summary-page/RespondentsTable.svelte
  frontend/src/lib/components/summary-page/TextSummary.svelte
  frontend/src/lib/components/summary-page/answer/Answers.svelte
  frontend/src/lib/components/summary-page/answer/AnswersTable.svelte
  frontend/src/lib/components/summary-page/buttons/AnswersButton.svelte
  frontend/src/lib/components/summary-page/buttons/QrCodeButton.svelte
  frontend/src/lib/components/summary-page/buttons/RespondentsButton.svelte
  frontend/src/lib/components/summary-page/buttons/ShareButton.svelte
  frontend/src/lib/components/summary-page/respondents/RespondentsTable.svelte
  frontend/src/lib/server/database.ts
  frontend/src/routes/[code]/summary/+layout.server.ts
  frontend/src/routes/[code]/summary/access/[page]/+page.server.ts
  frontend/src/routes/[code]/summary/access/[page]/+page.svelte
  frontend/src/routes/[code]/summary/answers/+page.svelte
  frontend/src/routes/[code]/summary/answers/[id]/+page.svelte
  frontend/src/routes/[code]/summary/respondents/[page]/+page.server.ts
  frontend/src/routes/[code]/summary/respondents/[page]/+page.svelte
  frontend/src/routes/drafts/[page]/+page.server.ts
  frontend/src/routes/drafts/[page]/+page.svelte
  frontend/src/routes/groups/[page]/+layout.server.ts
  frontend/src/routes/groups/[page]/+page.svelte
  frontend/src/routes/groups/[page]/[group]/[page]/+page.server.ts
  frontend/src/routes/groups/[page]/[group]/[page]/+page.svelte
  frontend/src/routes/surveys/[page]/+page.server.ts
  frontend/src/routes/surveys/[page]/+page.svelte
Due: prettier, lint

NONAME-194 restructured summary routing and made access button always visible to the survey owner
  frontend/src/lib/components/groups-page/GroupsTable.svelte
  frontend/src/lib/components/groups-page/group/MembersButtons.svelte
  frontend/src/lib/components/summary-page/answer/Answers.svelte
  frontend/src/lib/components/summary-page/buttons/AnswersButton.svelte
  frontend/src/lib/components/summary-page/buttons/RespondentsButton.svelte
  frontend/src/lib/components/summary-page/buttons/ShareButton.svelte
  frontend/src/lib/components/surveys-page/SurveysTable.svelte
  frontend/src/lib/entities/surveys/SurveySummary.ts
  frontend/src/routes/[code]/summary/respondents/[page]/+page.svelte
  frontend/src/routes/drafts/[draftsPage]/+page.server.ts
  frontend/src/routes/drafts/[draftsPage]/+page.svelte
  frontend/src/routes/groups/[groupsPage]/+layout.server.ts
  frontend/src/routes/groups/[groupsPage]/+page.svelte
  frontend/src/routes/groups/[groupsPage]/[group]/[groupPage]/+page.server.ts
  frontend/src/routes/groups/[groupsPage]/[group]/[groupPage]/+page.svelte
  frontend/src/routes/surveys/[surveysPage]/+layout.server.ts
  frontend/src/routes/surveys/[surveysPage]/+page.svelte
  frontend/src/routes/surveys/[surveysPage]/[code]/+layout.server.ts
  frontend/src/routes/surveys/[surveysPage]/[code]/+page.svelte
  frontend/src/routes/surveys/[surveysPage]/[code]/access/[accessPage]/+page.server.ts
  frontend/src/routes/surveys/[surveysPage]/[code]/access/[accessPage]/+page.svelte
  frontend/src/routes/surveys/[surveysPage]/[code]/answers/+page.svelte
  frontend/src/routes/surveys/[surveysPage]/[code]/answers/[answer]/+page.svelte
  frontend/src/routes/surveys/[surveysPage]/[code]/respondents/[respondentsPage]/+page.server.ts
  frontend/src/routes/surveys/[surveysPage]/[code]/respondents/[respondentsPage]/+page.svelte
Due: prettier, lint

NONAME-194 fixed navbar colors and footer buttons layout
  frontend/src/app.css
  frontend/src/lib/components/create-page/FooterButtons.svelte
  frontend/src/lib/components/global/Footer.svelte
  frontend/src/lib/components/global/NavBar.svelte
  frontend/src/routes/surveys/[surveysPage]/[code]/+page.svelte
  frontend/src/routes/surveys/[surveysPage]/[code]/access/[accessPage]/+page.svelte
  frontend/src/routes/surveys/[surveysPage]/[code]/answers/+page.svelte
  frontend/src/routes/surveys/[surveysPage]/[code]/answers/[answer]/+page.svelte
  frontend/src/routes/surveys/[surveysPage]/[code]/respondents/[respondentsPage]/+page.svelte
Due: prettier, lint

NONAME-194 added summary button
  frontend/src/lib/components/summary-page/buttons/SummaryButton.svelte
  frontend/src/routes/surveys/[surveysPage]/[code]/+page.svelte
  frontend/src/routes/surveys/[surveysPage]/[code]/access/[accessPage]/+page.svelte
  frontend/src/routes/surveys/[surveysPage]/[code]/answers/+page.svelte
  frontend/src/routes/surveys/[surveysPage]/[code]/answers/[answer]/+page.svelte
  frontend/src/routes/surveys/[surveysPage]/[code]/respondents/[respondentsPage]/+page.svelte
Due: prettier, lint

NONAME-194 small fix
  frontend/src/routes/drafts/[draftsPage]/+page.svelte
Due: prettier, lint

added util for getting email and removed email from requests
  frontend/src/lib/components/create-page/SurveyForm.svelte
  frontend/src/lib/components/drafts-page/DraftsTable.svelte
  frontend/src/lib/components/groups-page/GroupButtons.svelte
  frontend/src/lib/components/groups-page/GroupsTable.svelte
  frontend/src/lib/components/groups-page/group/MembersButtons.svelte
  frontend/src/lib/components/summary-page/access/UserButtons.svelte
  frontend/src/lib/components/surveys-page/SurveysTable.svelte
  frontend/src/lib/utils/getEmail.ts
  frontend/src/routes/account/+page.svelte
  frontend/src/routes/api/groups/all/+server.ts
  frontend/src/routes/api/groups/create/+server.ts
  frontend/src/routes/api/groups/delete/+server.ts
  frontend/src/routes/api/groups/fetch/+server.ts
  frontend/src/routes/api/surveys/create/+server.ts
  frontend/src/routes/api/surveys/delete/+server.ts
  frontend/src/routes/api/surveys/drafts/all/+server.ts
  frontend/src/routes/api/surveys/drafts/delete/+server.ts
  frontend/src/routes/api/surveys/drafts/fetch/+server.ts
  frontend/src/routes/api/surveys/give-access/+server.ts
  frontend/src/routes/api/surveys/take-away-access/+server.ts
  frontend/src/routes/api/users/update-public-key/+server.ts
Due: prettier, lint

one more check before return
  frontend/src/lib/utils/getEmail.ts
Due: prettier, lint

NONAME-181 keys are now stored in pem
  backend/poetry.lock
  backend/pyproject.toml
  backend/src/api/models/users/user.py
  backend/src/api/routes/answers.py
  backend/src/cryptography/ring_signature.py
  backend/src/db/crud/answer.py
  backend/src/db/crud/survey.py
  frontend/src/lib/components/fill-page/SurveyForm.svelte
  frontend/src/routes/account/+page.svelte
  frontend/wasm/Cargo.lock
  frontend/wasm/Cargo.toml
  frontend/wasm/src/lib.rs
Due: codespell, isort, pyupgrade, yesqa, black, ruff, prettier, lint

NONAME-199 modified existed endpoints
  backend/src/api/routes/survey_drafts.py
  backend/src/api/routes/surveys.py
  backend/src/api/routes/user_groups.py
  backend/src/db/crud/survey.py
  backend/src/db/crud/survey_draft.py
  backend/src/db/crud/user_groups.py
Due: codespell, isort, pyupgrade, yesqa, black, ruff

NONAME-200 removed not needed field from output
  backend/src/api/models/surveys/answer.py
  backend/src/api/routes/answers.py
Due: codespell, isort, pyupgrade, yesqa, black, ruff

handling access denied added
  frontend/src/routes/api/oauth/callback/+server.ts
Due: prettier, lint

NONAME-202 changed key file extension
  frontend/src/lib/components/fill-page/KeysError.svelte
  frontend/src/lib/components/fill-page/SurveyForm.svelte
  frontend/src/lib/components/groups-page/GroupsTable.svelte
  frontend/src/lib/components/groups-page/group/MembersButtons.svelte
  frontend/src/lib/components/surveys-page/SurveysTable.svelte
  frontend/src/routes/account/+page.svelte
Due: prettier, lint

NONAME-198 cover users endpoints with test
  backend/poetry.lock
  backend/pyproject.toml
  backend/tests/api/__init__.py
  backend/tests/api/routes/test_users.py
  backend/tests/conftest.py
Due: codespell, isort, pyupgrade, yesqa, black, ruff

NONAME-198 resolved conflicts in poetry.lock
  backend/poetry.lock
  backend/pyproject.toml
Due: isort, pyupgrade, yesqa, black, ruff

NONAME-201 page buttons WIP
  frontend/src/app.css
  frontend/src/lib/components/drafts-page/DraftsTable.svelte
  frontend/src/lib/components/global/PageButtons.svelte
Due: prettier, lint

NONAME-198 fixed tests after rebase and some cosmetic changes
  backend/src/api/routes/surveys.py
  backend/src/api/routes/user_groups.py
  backend/tests/api/routes/test_users.py
  backend/tests/cryptography/__init__.py
  backend/tests/cryptography/test_fingerprint.py
Due: codespell, isort, pyupgrade, yesqa, black, ruff

added kubernetes yamls
  kube/backend-deployment.yaml
  kube/backend-service.yaml
  kube/frontend-deployment.yaml
  kube/frontend-service.yaml
Due: none

NONAME-201 page buttons WIP and some minor changes
  backend/src/api/routes/user_groups.py
  frontend/src/app.css
  frontend/src/lib/components/create-page/Binary.svelte
  frontend/src/lib/components/create-page/SurveyForm.svelte
  frontend/src/lib/components/drafts-page/DraftsButtons.svelte
  frontend/src/lib/components/drafts-page/DraftsTable.svelte
  frontend/src/lib/components/global/ErrorModal.svelte
  frontend/src/lib/components/global/ImportEmails.svelte
  frontend/src/lib/components/global/LimitWarning.svelte
  frontend/src/lib/components/global/PageButtons.svelte
  frontend/src/lib/components/global/QrCodeModal.svelte
  frontend/src/lib/components/global/SuccessModal.svelte
  frontend/src/lib/components/global/WarningModal.svelte
  frontend/src/lib/components/groups-page/GroupsButtons.svelte
  frontend/src/lib/components/groups-page/MembersError.svelte
  frontend/src/lib/components/groups-page/group/MembersButtons.svelte
  frontend/src/lib/components/groups-page/group/MembersTable.svelte
  frontend/src/lib/components/summary-page/access/UserButtons.svelte
  frontend/src/lib/components/summary-page/answer/AnswersTable.svelte
  frontend/src/lib/components/summary-page/buttons/FooterButtons.svelte
  frontend/src/lib/components/summary-page/respondents/RespondentsTable.svelte
  frontend/src/lib/components/surveys-page/SurveysTable.svelte
  frontend/src/lib/server/database.ts
  frontend/src/lib/stores/global.ts
  frontend/src/lib/utils/changePage.ts
  frontend/src/lib/utils/getErrorMessage.ts
  frontend/src/routes/+error.svelte
  frontend/src/routes/drafts/[draftsPage]/+page.server.ts
  frontend/src/routes/drafts/[draftsPage]/+page.svelte
  frontend/src/routes/groups/[groupsPage]/+layout.server.ts
  frontend/src/routes/groups/[groupsPage]/+page.svelte
  frontend/src/routes/surveys/[surveysPage]/+layout.server.ts
  frontend/src/routes/surveys/[surveysPage]/+page.svelte
  frontend/src/routes/surveys/[surveysPage]/[code]/+layout.server.ts
  frontend/src/routes/surveys/[surveysPage]/[code]/+page.svelte
  frontend/src/routes/surveys/[surveysPage]/[code]/access/[accessPage]/+page.svelte
  frontend/src/routes/surveys/[surveysPage]/[code]/answers/+page.svelte
  frontend/src/routes/surveys/[surveysPage]/[code]/answers/[answer]/+page.svelte
  frontend/src/routes/surveys/[surveysPage]/[code]/respondents/[respondentsPage]/+page.svelte
Due: codespell, isort, pyupgrade, yesqa, black, ruff, prettier, lint
